{{!--검색 팁 : 검색 결과와 대치--}}
<string class="zip-code-search-user-choice-gide-title">
    <em>* {{title}}</em> 검색방법
</string>

<ol class="zip-code-search-user-choice-gide-ol">
    {{#each gide.choice}}
        <li class="zip-code-search-user-choice-gide-li">
            {{this}}
        </li>
    {{/each}}
</ol>
