$line-height: 20px;
$space: 10px;

.zip-code-search {
  background-color: #fff;
  font-size: 12px;
}
.zip-code-search a {
  cursor: auto;
  text-decoration: none;
}

.zip-code-search-type-selector-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #d2d2d2;
}
.zip-code-search-type-selector-road,
.zip-code-search-type-selector-jibun {
  float: left;
  width: 50%;
}
.zip-code-search-type-selector-trigger {
  display: block;
  text-align: center;
  color: #8a8a8a;
  background-color: #e6e6e6;
  font-size: 15px;
  line-height: 40px;
}
.zip-code-search-type-selector-trigger:first-child {
  //border-left: 1px solid #999;
}
.zip-code-search-type-selector-trigger.selected {
  background-color: #ff5073;
  color: #fff;
}

.zip-code-search-contents {
  border: none;
  //padding-top: $space;
  background-color: #f9f9fa;
}
.zip-code-search-user-choice-wrap {
  margin: 0 $space;
}
.zip-code-search-user-select-wrap {
  margin-top: $space;
}
.zip-code-search-user-select-city {}
.zip-code-search-user-select-town {}

.zip-code-search-user-input-wrap {
  position: relative;
  padding-right: 70px;
  margin-top: $space;
}
.zip-code-search-user-input {
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 0;
  border: 1px solid #cccccc;
  text-indent: 10px;
  border-radius: 5px;
  font-size: 12px;
}
.zip-code-search-user-input-gide {
  margin: $space 0 0 0;
  color: #333;
}
.zip-code-search-user-choice-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  line-height: 30px;
  padding: 0;
  border: 1px solid #ff5073;
  border-radius: 5px;
  background-color: #ff5073;
  color: #fff;
  font-size: 13px;
}

// 검색 팁 : 검색 결과와 대치 ////////////////
.zip-code-search-user-choice-gide {
  margin: $space $space 0;
}
.zip-code-search-user-choice-gide-title {}
.zip-code-search-user-choice-gide-ol {
  margin: 0;
  padding-left: 1em;
}
.zip-code-search-user-choice-gide-li {}


.zip-code-search-result-wrap {
  display: none;
  position: relative;
}
.zip-code-search-result-info {
  margin: $space $space 0;
}
.zip-code-search-result-info-count {}

.zip-code-search-result-filter-wrap {
  display: none;
  text-align: right;
  margin: $space $space 0;
}
.zip-code-search-result-filter-title {
  display: none;
}
.zip-code-search-result-filter-select-city {}
.zip-code-search-result-filter-select-town {}

.zip-code-search-result-contents-wrap {
  margin: $space $space 0;
  position: relative;
}
.zip-code-search-result-contents-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eee;
}
.zip-code-search-result-contents-li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.zip-code-search-result-key {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  line-height: $line-height;
  margin-top: -10px;
}
.zip-code-search-result-trigger {
  display: block;
}
.zip-code-search-result-trigger:hover {
  background-color: #f2f2f2;
}
.zip-code-search-result-road,
.zip-code-search-result-jibun {
  position: relative;
  display: block;
  padding: 2px;
  margin: 0 55px;
  border-right: 1px solid #eee;
  font-style: normal;
}
.zip-code-search-result-type {
  position: absolute;
  top: 50%;
  left: -50px;
  margin-top: -10px;
  display: inline-block;
  width: 45px;
  line-height: $line-height;
  text-align: center;
  background-color: #c6c6c6;
  color: #fff;
}
.zip-code-search-result-address {}


.zip-code-search-result-noting-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.zip-code-search-result-noting-title {}
.zip-code-search-result-noting_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.zip-code-search-result-noting_ul li {
  margin: 0;
  padding: 0;
}
.zip-code-search-result-noting-trigger {
  position: absolute;
  top: 0;
  right: 10px;
  display: inline-block;
  padding: 0 2px;
  line-height: 16px;
  text-decoration: none;
  background-color: #999;
}


