<p class="deal-inline-gallery-navigation">
   <span class="paging">
           <span class="current">{{current}}</span>/<span class="total">{{total}}</span>
       </span>
   <span class="left disabled" data-arrow-direction="1">&lt;</span>
   <span class="right" data-arrow-direction="-1">&gt;</span>
</p>