<p class="design-template-accordion-info">
    <strong class="design-template-accordion-title">{{this}}</strong>
    <span class="design-template-accordion-selected"></span>
    <span class="design-template-accordion-controller">controller</span>
</p>