<div class="deal-item-selected-option-wrap">
    <strong class="deal-item-selected-option-title">
        1. 블랙 파우더+아이플러프원&amp;원
    </strong>
    <div class="deal-item-selected-option-amount-wrap">
        <span class="deal-item-selected-option-amount-down">down</span>
        <input class="deal-item-selected-option-amount-value" type="text" name="amount" value="48" data-min="1" data-limit="9999">
        <span class="deal-item-selected-option-amount-up">up</span>
    </div>
    <div class="deal-item-selected-option-value">
        <strong class="deal-item-selected-option-price">
            844800
        </strong>
        <span class="deal-item-selected-option-unit">원</span>
    </div>
    <button class="deal-item-selected-option-delete" type="button">×</button>
</div>