<div  class="deal-item-option-viewer" data-value="54684" data-price="7200" data-limit="10" data-min="1" data-soldout="2">
    <em class="deal-item-option-viewer-title">'+data.title.main+'</em>
    <strong class="deal-item-option-viewer-location">
        <span class="deal-item-option-viewer-price">'+data.price.origin+'</span>
        <span class="deal-item-option-viewer-unit">ì›</span>
    </strong>
</div>