<div  class="design-template-accordion-wrap accordion-open">
    <p class="design-template-accordion-info">
        <strong class="design-template-accordion-title">사이즈</strong>
        <span class="design-template-accordion-selected">260</span>
        <span class="design-template-accordion-controller">controller</span>
    </p>
    <ul class="design-template-accordion-list">
        <li class="design-template-accordion-content">
        </li>
   </ul>
</div>