<div class="select-design-viewer">
    <p class="select-design-viewer-option-selector">
        <span class="value">상품을 선택해주세요.</span>
        <span class="trigger">검색</span>
    </p>
    <div class="select-design-viewer-list-box">
        <ul class="select-design-viewer-list">
            <li class="select-design-viewer-option">
            </li>
        </ul>
    </div>
</div>