<div class="signUp-header-wrap">
    <div class="signUp-header">
        <h2 class="signUp-header-title">회원가입</h2>
        <ol class="signUp-step-viewer">
            <li class="signUp-step">
                <strong>가입방법</strong>
            </li>
            <li class="signUp-step">
                <strong>약관동의</strong>
            </li>
            <li class="signUp-step signUp-current-step">
                <strong>정보입력</strong>
            </li>
            <li class="signUp-step">
                <strong>가입완료</strong>
            </li>
        </ol>
    </div>
</div>