<div class="signUp-header">
    <h2 class="signUp-header-title">회원 가입</h2>
    <ol class="signUp-step-viewer">
        <li class="signUp-step">가입방법</li>
        <li class="signUp-step signUp-current-step">정보입력 / 약관동의</li>
        <li class="signUp-step">가입완료</li>
    </ol>
</div>