<div class="header-gnb-content">
    카테고리 gnb
    <div class="header-gnb-category">
        <a href="">전체 카테고리</a>
        <div>
            카테고리 레이어
        </div>
    </div>
    <ul class="header-gnb-content-ul">
        <li class="header-gnb-content-li"><a href="">한정특가</a></li>
        <li class="header-gnb-content-li"><a href="">베스트</a></li>
        <li class="header-gnb-content-li"><a href="">미미브랜드</a></li>
        <li class="header-gnb-content-li"><a href="">기획전</a></li>
        <li class="header-gnb-content-li"><a href="">온리미미박스</a></li>
        <li class="header-gnb-content-li"><a href="">NEW</a></li>
        <li class="header-gnb-content-li"><a href="">이벤트&쿠폰</a></li>
        <li class="header-gnb-content-li"><a href="">미미배송</a></li>
    </ul>
    <div>
        브랜드관
    </div>
</div>