<div class="header-status-wrap">
    <a class="app-down-trigger" href="">APP 다운로드</a>
    <ul class="header-status-review">
        <li class="header-status-review-li">
            <strong>152,035</strong>
            <span>개의 상품</span>
        </li>
        <li class="header-status-review-li">
            <strong>1,084,466</strong>
            <span>개의 리뷰</span>
        </li>
    </ul>
</div>