<div>
    <div class="header-top-cookie-banner">
       components - v.1.1.0 - top banner
    </div>
    <div class="header-top-content">
        <div class="header-status-wrap">
            <a class="app-down-trigger" href="">APP 다운로드</a>
            <ul class="header-status-review">
                <li class="header-status-review-li">
                    <strong>152,035</strong>
                    <span>개의 상품</span>
                </li>
                <li class="header-status-review-li">
                    <strong>1,084,466</strong>
                    <span>개의 리뷰</span>
                </li>
            </ul>
        </div>
        <ul class="header-user-menus">
            <li class="header-user-menu-li">
                <a class="header-user-member-menu" href="">로그인회원가입</a>
            </li>
            <li class="header-user-menu-li">
                <a class="header-user-myPage-menu" href="">마이페이지</a>
                <div class="select-layer">
                    <ul class="select-layer-ul">
                        <li><a href="/my/order" ga-event="gnb,gnb_mypage_구매정보">구매정보</a></li>
                        <li><a href="/my/wishList" ga-event="gnb,gnb_mypage_찜한상품">찜한상품</a></li>
                        <li><a href="/my/point" ga-event="gnb,gnb_mypage_혜택정보">혜택정보</a></li>
                        <li><a href="/my/privacy/password" ga-event="gnb,gnb_mypage_개인정보">개인정보</a></li>
                        <li><a href="/my/review" ga-event="gnb,gnb_mypage_나의리뷰">나의리뷰</a></li>
                        <li><a href="/my/inquiry" ga-event="gnb,gnb_mypage_1:1문의">1:1문의</a></li>
                    </ul>
                </div>
            </li>
            <li class="header-user-menu-li">
                <a class="header-user-menu-connectUs" href="">고객센터</a>
                <div class="select-layer">
                    <ul class="select-layer-ul">
                        <li><a href="/cs/faq" ga-event="gnb,gnb_cscenter_자주묻는질문">자주 묻는 질문</a></li>
                        <li><a href="/cs/delivery" ga-event="gnb,gnb_cscenter_배송안내">배송안내</a></li>
                        <li><a href="/cs/point" ga-event="gnb,gnb_cscenter_포인트쿠폰">포인트·쿠폰</a></li>
                        <li><a href="/my/inquiry" ga-event="gnb,gnb_cscenter_1_1문의">1:1문의</a></li>
                    </ul>
                </div>
            </li>
            <li class="header-user-menu-li">
                <a class="header-user-menu-cart" href="">장바구니</a>
            </li>
        </ul>
    </div>
    <div class="header-main-content">
        <div class="header-main-content-logo">
            <a class="back-home" href="#">
                <img src="/components/layout/header/v.1.1.0/_image/memebox_logo.png" alt="내 삶을 아름답게 MEMEBOX">
            </a>
        </div>
        <div class="searchBar-wrap">
            <div>검색창</div>
        </div>
        <div class="header-rolling-arrow-banner">
            베너
        </div>
    </div>
    <div class="header-gnb-content">
        카테고리 gnb
        <div class="header-gnb-category">
            <a href="">전체 카테고리</a>
            <div>
                카테고리 레이어
            </div>
        </div>
        <ul class="header-gnb-content-ul">
            <li class="header-gnb-content-li"><a href="">한정특가</a></li>
            <li class="header-gnb-content-li"><a href="">베스트</a></li>
            <li class="header-gnb-content-li"><a href="">미미브랜드</a></li>
            <li class="header-gnb-content-li"><a href="">기획전</a></li>
            <li class="header-gnb-content-li"><a href="">온리미미박스</a></li>
            <li class="header-gnb-content-li"><a href="">NEW</a></li>
            <li class="header-gnb-content-li"><a href="">이벤트&쿠폰</a></li>
            <li class="header-gnb-content-li"><a href="">미미배송</a></li>
        </ul>
        <div>
            브랜드관
        </div>
    </div>
</div>