<style>
    .memebox-signup-privacy-content {
        table-layout: auto;
        border-spacing: 0;
        border: 1px solid #e3e3e3;
        border-bottom: 0;
        margin-bottom: 10px;
        color: #8f8f8f;
        font-size: 11px;
        background-color: #fff;
    }
    .memebox-signup-privacy-content caption {
        display: none;
    }
    .memebox-signup-privacy-content tr {}
    .memebox-signup-privacy-content th {
        width: 33%;
        font-size: 12px;
        font-family: '돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
        font-weight: bold;
        height: 40px;
        padding: 5px;
        border-bottom: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        color: #8f8f8f;
    }
    .memebox-signup-privacy-content td {
        padding: 5px;
        border-bottom: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        color: #8f8f8f;
    }
</style>
<table class="memebox-signup-privacy-content" cellpadding="0" cellspacing="0">
    <caption>개인정보 수집 및 이용 안내</caption>
    <thead>
    <tr>
        <th>수집•이용목적</th>
        <th>수집항목</th>
        <th>보유•이용기간</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>회원가입, 서비스이용 및 상담</td>
        <td>아이디(E-mail 주소), 비밀번호, 성명, 핸드폰번호</td>
        <td rowspan="4">
            목적달성(회원탈퇴 등) 후 지체 없이 파기<br>
            (단 관련법령 및 회사정책에 따라 별도 보관되는 정보는 예외)<br>
            아이디인 이메일은 부정이용 이슈 방지를 위해 탈퇴DB에서 3개월후 삭제
        </td>
    </tr>
    <tr>
        <td>성인인증</td>
        <td>생년월일</td>
    </tr>
    <tr>
        <td>마케팅 활용</td>
        <td>성별</td>
    </tr>
    <tr>
        <td>포인트 지급</td>
        <td>추천인 이메일</td>
    </tr>
    <tr>
        <td>서비스이용 및 부정거래기록 확인</td>
        <td>서비스이용기록, 접속로그</td>
        <td>회원 탈퇴시 즉시 삭제</td>
    </tr>
    <tr>
        <td>본인인증 및 확인</td>
        <td>모바일기기정보 (고유기기식별값)</td>
        <td>회원 탈퇴시 즉시 삭제</td>
    </tr>
    <tr>
        <td>주문, 결제 및 배송서비스</td>
        <td>상품결제정보(구매/취소반품교환/환불), 배송지관련정보, 은행계좌정보, 휴대폰결제정보, 카드결제정보</td>
        <td>목적달성(배송완료 등) 후 지체 없이 파기<br>
            단, 구매관련 정보의 경우 5년간 보관 (전자상거래 등에서의 소비자보호에 관한 법률)</td>
    </tr>
    </tbody>
</table>
