<style>
    .memebox-signup-thirdPartyAgreement-content {
        table-layout: auto;
        border-spacing: 0;
        border: 1px solid #e3e3e3;
        border-bottom: 0;
        margin-bottom: 10px;
        color: #8f8f8f;
        font-size: 11px;
        background-color: #fff;
    }
    .memebox-signup-thirdPartyAgreement-content caption {
        display: none;
    }
    .memebox-signup-thirdPartyAgreement-content tr {}
    .memebox-signup-thirdPartyAgreement-content th {
        width: 25%;
        font-size: 12px;
        font-family: '돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
        font-weight: bold;
        height: 40px;
        padding: 5px;
        border-bottom: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        color: #8f8f8f;
    }
    .memebox-signup-thirdPartyAgreement-content td {
        padding: 5px;
        border-bottom: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        color: #8f8f8f;
    }
    .memebox-signup-thirdPartyAgreement-content a {
        text-decoration: underline;
    }
</style>
<table class="memebox-signup-thirdPartyAgreement-content" cellpadding="0" cellspacing="0">
    <caption>개인정보 제3자(판매자) 제공</caption>
    <thead>
        <tr>
            <th>제공받는자</th>
            <th>제공목적</th>
            <th>제공정보</th>
            <th>개인정보를 제공 받는 자의 개인 정보보유 및 이용기간</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                배송상품 제공업체 <br>
                <a id="vendorListPopUp" href="#">업체상세내역(클릭)</a>
            </td>
            <td>서비스제공, 구매자 확인, 해피콜</td>
            <td>성명, 이메일, 배송지주소, 휴대전화번호</td>
            <td rowspan="2">
                재화 또는 서비스의 제공이 완료된
                즉시 파기(단, 관계법령에 정해진 규정에
                따라 법정기간 동안 보관)
            </td>
        </tr>
        <tr>
            <td>
                해외배송 상품 제공업체 <br>
                <a id="vendorListPopUp2" href="#">업체상세내역(클릭)</a>
            </td>
            <td> 서비스제공, 구매자확인, 해피콜, 통관업무처리 <br>물품구매시구매내역전달</td>
            <td>
                성명, 이메일, 배송지주소, 휴대전화번호,
                개인통관 고유부호
            </td>
        </tr>
    </tbody>
</table>