{{#if config.sns.service}}
    <div class="signUp-SNS-wrap">
        <div class="signUp-SNS-confirmation">
            <span class="signUp-SNS-icon-{{config.sns.service}}">Welcome!</span>
        </div>
        <div class="signUp-SNS-information-wrap">
            {{config.sns.welcomeText}}
        </div>
    </div>
{{/if}}