{{#extend "memebox-content"}}
    <h1>딜 모두 보기 </h1>

    <h2>deal_type_vertical_square_10</h2>
    <div class="deal-container"
         data-container-line-amount="3"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 10
                },
                "image": {
                    "type": "square"
                }
            }'
         data-deal-function='{}'>
    </div>

    <h2>deal_type_vertical_square_4</h2>
    <div class="deal-container"
         data-container-line-amount="4"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 4
                },
                "image": {
                    "type": "square"
                }
            }'
         data-deal-function='{}'>
    </div>
{{/extend}}

{{#extend "css"}}
    <link  href="/components/deal/v.1.0.0/export/{{config.info.device}}/dealAll.css" type="text/css" rel="stylesheet"/>
    <link  href="/components/dealContainer/v.1.0.0/export/dealContainer.css" type="text/css" rel="stylesheet"/>
{{/extend}}

{{#extend "scripts"}}
    <script src="/vendor/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>

    <script src="/modules/util/utility/v.1.0.0/_utility.js" type="text/javascript"></script>
    <script src="/modules/util/validate/v.1.0.0/_validate.js" type="text/javascript"></script>
    <script src="/modules/_sampleDealAPI/export/_sampleDealAPI.js" type="text/javascript"></script>

    <script src="/components/dealContainer/v.1.0.0/export/dealContainer.js" type="text/javascript"></script>
    <script src="/components/dealContainer/v.1.0.0/export/dealContainer_template.js" type="text/javascript"></script>
    <script src="/components/deal/v.1.0.0/export/deal.js" type="text/javascript"></script>
    <script src="/components/deal/v.1.0.0/export/deal_template.js" type="text/javascript"></script>

    <script>
        var DealView_type_all = function(){
            var controller = {

                element: '#memebox-service',
                ui: {
                    dealContainer: '.deal-container'
                },

                deals : null,

                initialize: function(){
                    utility.uiEnhancements.call(this);

                    this.ui.dealContainer.each(function (index, element) {
                        var $element = $(element);
                        var viewData = $element.data('container-view-type');
                        var lineAmount = Number($element.data('container-lineAmount'));
                        if(viewData){
                            var API = new SampleDealAPI(viewData);

                            console.log('lineAmount',lineAmount);
                            new DealContainer($element, lineAmount, API.get());
                        }
                    });
                }
            };
            controller.initialize();
        };
        utility.event();
        new DealView_type_all();
    </script>
{{/extend}}

{{> pc/layout/layout_export}}