{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    <h1>검색결과</h1>

    <!-- 검색결과 상품 -->
    <h2>deal_type_horizontal_square_10</h2>
    <div class="deal-container"
         data-container-line-amount="3"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 10
                },
                "image": {
                    "type": "square"
                }
            }'
         data-deal-function='{"easyChoiceOption":"deal-tooltip-floating-trigger-wrapper"}'>
    </div>

    <h2>deal_type_vertical_square_10</h2>
    <div class="deal-container"
         data-container-line-amount="2"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 10
                },
                "image": {
                    "type": "square"
                }
            }'
         data-deal-function='{"easyChoiceOption":"deal-tooltip-floating-trigger-wrapper"}'>
    </div>
{{/extend}}

{{> pc/layout/layout}}