{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    <h1>검색결과</h1>

    <!-- 검색결과 상품 -->

    <h2>검색 결과 1</h2>
    <div class="deal-container"
         data-deal-function='{"easyChoiceOption":"deal-tooltip-floating-trigger-wrapper"}'>
    </div>

    <h2>검색 결과 2</h2>
    <div class="deal-container"
         data-deal-function='{"easyChoiceOption":"deal-tooltip-floating-trigger-wrapper"}'>
    </div>
{{/extend}}

{{> pc/layout/layout}}