<div class="signUp-cellphone-wrap">
    <label class="signUp-cellphone-label">
        <span class="signUp-cellphone-text">휴대폰번호</span>
        <input class="signUp-cellphone-input"
               type="tel"
               name="cellphone"
               data-required="true"
               data-run-validate=""
               data-required-wrap="signUp-cellphone-wrap"
               data-required-message="휴대폰번호를 확인해 주세요."
               value=""
               placeholder="휴대폰번호">
    </label>
    <input class="signUp-cellphone-certification-trigger"
           type="button"
           name="verification"
           data-required="true"
           data-run-validate=""
           data-required-wrap="signUp-cellphone-wrap"
           data-required-message="번호 인증을 하여야 합니다."
           value="번호인증">
    <input class="cellphone-certification-end"
           type="button"
           value="인증완료">
</div>
<p class="validate-message"></p>