<div class="signUp-password-confirm-wrap">
    <label class="signUp-password-confirm-label">
        <span class="signUp-password-confirm-text">비밀번호 확인</span>
        <input class="signUp-password-confirm-input"
               type="password"
               name="confirm"
               data-required="true"
               data-run-validate=""
               data-required-wrap="signUp-password-confirm-wrap"
               data-required-message="입력하신 비밀번호가 일치하지 않습니다."
               placeholder="비밀번호 확인">
    </label>
</div>
<p class="validate-message"></p>