<label class="signUp-email-label">
    <span class="signUp-email-text">아이디(이메일)</span>
    <input class="signUp-email-input"
           type="text"
           name="email"
           data-required="true"
           data-validate=""
           data-run-validate=""
           data-required-wrap="signUp-email-wrap"
           data-required-message="올바른 이메일을 입력해 주세요 "
           placeholder="아이디(이메일)">
</label>