<div class="signUp-name-wrap">
    <label class="signUp-name-label">
        <span class="signUp-name-text">이름</span>
        <input class="signUp-name-input"
               type="text"
               name="name"
               data-required="true"
               data-run-validate=""
               data-required-wrap="signUp-name-wrap"
               data-required-message="이름을 정확히 입력하세요."
               placeholder="이름">
    </label>
</div>
<p class="validate-message"></p>