<div class="signUp-password-wrap">
    <label class="signUp-password-label">
        <span class="signUp-password-text">비밀번호</span>
        <input class="signUp-password-input"
               type="password"
               name="password"
               data-required="true"
               data-run-validate=""
               data-required-wrap="signUp-password-wrap"
               data-required-message="6~15자의 영문(대소문자), 숫자, 특수문자 중 2가지 이상 조합하여 작성합니다."
               placeholder="비밀번호">
    </label>
</div>
<p class="validate-message"></p>