<div class="signUp-recommendUser-wrap">
    <label class="signUp-recommendUser-label">
        <span class="signUp-recommendUser-text">추천인 이메일 아이디 또는 코드 입력</span>
        <input class="signUp-recommendUser-input"
               type="text"
               name="recommendUser"
               data-required="true"
               data-validate=""
               data-run-validate=""
               data-required-wrap="signUp-recommendUser-wrap"
               data-required-message="추천인 아이디 또는 코드를 입력해 주세요."
               placeholder="추천인 이메일 아이디 또는 코드 입력">
    </label>
</div>
<p class="validate-message"></p>