<li class="deal-tooltip-floating-container" data-deal-id="' + data + '">
   <span class="deal-tooltip-floating-content-arrow"></span>
   <div class="deal-tooltip-floating-container-contents-wrap"></div>
   <div class="deal-tooltip-floating-container-controller">
       <span class="deal-tooltip-floating-container-controller-closing">닫기</span>
   </div>
</li>