$assetHost: '';
$_poke: $assetHost+"/components/deal/v.1.0.0/mobile/_image/_poke.png";

.header-top-cookie-banner {}

/* 해더 상단 **********************************/
.header-top-content {
  //overflow: hidden;
  width: 700px;
  //width: 1048px;
  margin: 0 auto;
  *zoom:1;
}
.header-top-content:after {
  content:"";
  display:block;
  clear:both;
}
/* 앱다운, 리뷰 모음 */
.header-status-wrap {
  overflow: hidden;
  float: left;
}
.app-down-trigger {
  float: left;
}
.header-status-review {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-status-review-li {
  display: inline-block;
}
/* 사용자 관련 메뉴 */
.header-user-menus {
  *zoom:1;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-user-menus:after {
  content:"";
  display:block;
  clear:both;
}
.header-user-menu-li {
  float: left;
  position: relative;
  display: inline-block;
  padding-right: 10px;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/* 로고, 검색창, 롤링배너 */
.header-main-content {
  width: 700px;
  //width: 1048px;
  margin: 0 auto;
  border-bottom: 1px solid #0000ee;
}
/* 로고 */
.header-main-content-logo {
}
/* 검색창 */
.searchBar-wrap {
  display: none;
}
/* 롤링배너 */
.header-rolling-arrow-banner {
  display: none;
}



/* GNB */
.header-gnb-content {
  width: 700px;
  //width: 1048px;
  margin: 0 auto;
}
.header-gnb-category {
  display: none;
}
.header-gnb-content-ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-gnb-content-li {
  float: left;
}



.select-layer {
  position: absolute;
  top: 1em;
  left: 0;
}
.select-layer-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.select-layer-ul li {}




