<div class="layout-structure-header">
    <div class="layout-structure-header-banner">
       components ---------------------------- v.1.1.0 - top banner
    </div>
    <div class="layout-structure-header-top">
        {{> components/layout/header/v.1.1.0/_templates/_serviceStatusCount}}
        {{> components/layout/header/v.1.1.0/_templates/_userMenus}}
    </div>
    <div class="layout-structure-header-middle">
        {{> components/layout/header/v.1.1.0/_templates/_serviceLogo}}
        <div class="searchBar-wrap">
            {{> components/layout/header/v.1.1.0/_templates/searchBar}}
        </div>
        {{> components/layout/header/v.1.1.0/_templates/_bannerRollingArrow}}
    </div>
    <div class="layout-structure-header-bottom">
        {{> components/layout/header/v.1.1.0/_templates/_globalNavigationBar}}
    </div>
</div>