<div class="corporation-information">
    <!-- 회사명 -->
    <a class="corporation-name"
       href="/">
        MEMEBOX
    </a>
    <div class="corporation-report">
        <!-- 회사 정책 링크 -->
        <ul class="corporation-report-policy">
            <li class="corporation-aboutUs-wrap">
                <a class="corporation-aboutUs"
                   href="http://corp.memebox.com"
                   target="_blank">
                    회사소개
                </a>
            </li>
            <li class="corporation-report-policy-terms-use-wrap">
                <a class="corporation-report-policy-terms-use"
                   href="/policy/agreement"
                   ga-event="푸터,푸터_이용약관">
                    이용약관
                </a>
            </li>
            <li class="corporation-report-policy-terms-privacy-wrap">
                <a class="corporation-report-policy-terms-privacy"
                   href="/policy/privacy"
                   ga-event="푸터,푸터_개인정처리급방침">
                    <strong>개인 정보 처리 방침</strong>
                </a>
            </li>
            <li class="corporation-report-policy-terms-youth-wrap">
                <a class="corporation-report-policy-terms-youth"
                   href="/policy/youth">
                    청소년 보호 정책
                </a>
            </li>
            <li class="corporation-report-policy-terms-email-wrap">
                <a class="corporation-report-policy-terms-email"
                   href="/policy/email">
                    이메일 무단 수집 거부 방침
                </a>
            </li>
            <li class="corporation-report-bizinfo-wrap">
                <a class="corporation-report-bizinfo"
                   href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2118847525"
                   target="_blank"
                   ga-event="푸터,푸터_사업자정보확인">
                    사업자 정보 확인
                </a>
            </li>
        </ul>
        <!-- 회사 정보 공개 -->
        <div class="corporation-report-info">
            <div class="corporation-report-info-step">
                <dl class="corporation-report-info-step-dl">
                    <dt>상호</dt>
                    <dd>(주)미미박스0000000</dd>
                    <dt>대표자</dt>
                    <dd>하형석</dd>
                    <dt>개인 정보 보호 책임자</dt>
                    <dd>김종광</dd>
                    <dt>사업자등록번호</dt>
                    <dd>211-88-47525</dd>
                </dl>
            </div>
            <div class="corporation-report-info-step">
                <dl class="corporation-report-info-step-dl">
                    <dt>통신판매 신고번호</dt>
                    <dd>제 2016-경기성남-0633호</dd>
                    <dt>건강기능식품판매</dt>
                    <dd>제 2012-0107922 호</dd>
                    <dt>의료기기판매</dt>
                    <dd>제 2015-3780064-00183 호</dd>
                </dl>
            </div>
            <div class="corporation-report-info-step">
                <dl class="corporation-report-info-step-dl">
                    <dt>본사</dt>
                    <dd>
                        <address>경기도 성남시 분당구 판교역로146번길 20 (백현동) Office H 10층</address>
                    </dd>
                    <dt>물류센터</dt>
                    <dd>
                        <address>인천광역시 서구 경서동 693-4번지</address>
                    </dd>
                    <dt class="corporation-report-info-step-dt-hide">오시는길</dt>
                    <dd>
                        <a href="/render/8386"
                           target="_parent"
                           ga-event="푸터,푸터_오시는길">
                            미미박스 오시는길 &gt;
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="corporation-report-info-step corporation-report-copyright">
                <dl class="corporation-report-info-step-dl">
                    <dt>Copyright</dt>
                    <dd>&copy; 2012 memebox Inc. All rights reserved.</dd>
                </dl>
            </div>
            <div class="corporation-report-info-step UPlus">
                <dl class="corporation-report-info-step-dl">
                    <dt>LG U+ 구매 안전 서비스</dt>
                    <dd>고객님의 안전거래를 위해 현금 등으로 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용하실 수 있습니다.</dd>
                    <dt class="corporation-report-info-step-dt-hide">서비스 가입 확인</dt>
                    <dd>
                        <a href="#" onclick="goValidEscrow('memebox_mobile');"
                           ga-event="푸터,푸터_구매안전서비스">
                            서비스 가입 확인 &gt;
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>