<div class="corporation-service-SNS">
    <a class="corporation-service-SNS-insta"
       href="http://instagram.com/memebox_korea"
       target="_blank"
       ga-event="푸터,푸터_인스타그램">
        인스타그램 바로가기
    </a>
    <a class="corporation-service-SNS-faceBook"
       href="http://www.facebook.com/memebox"
       target="_blank"
       ga-event="푸터,푸터_페이스북">
        페이스북 바로가기
    </a>
    <a class="corporation-service-SNS-youtube"
       href="https://www.youtube.com/user/memeboxseoul"
       target="_blank"
       ga-event="푸터,푸터_유투브">
        유뷰트 바로가기
    </a>
</div>