<div class="corporation-awards">
    <div class="corporation-awards-navigation">
        <ul class="corporation-awards-ul" >
            <li class="corporation-award-li">
                <p class="corporation-award-2016-01">
                    앱어워드코리아 2016 뷰티부문 대상수상
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2015-07">
                    여성가족부 주관 가족친화 우수기업
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2015-06">
                    스마트앱어워드 2015 전문쇼핑부문 대상
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2015-05">
                    HWB Award 2015 BEST New Brand
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2015-04">
                    대한민국 리딩기업 <br> 2015 대상
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2015-03">
                    혁신형중소기업 선정
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2015-02">
                    2015 한국소비자 만족지수 1위
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2015-01">
                    여성친화 <br> 일촌기업 협약
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2013-01">
                    나는 글로벌 벤처다 2013 대상
                </p>
            </li>
            <li class="corporation-award-li">
                <p class="corporation-award-2012-01">
                    제 7회 대한민국 인터넷 대상 특별상
                </p>
            </li>
        </ul>
    </div>
</div>