<div class="corporation-familySite">
    <div class="select-design-viewer">
        <p class="select-design-viewer-option-selector">
            <span class="value">FAMILY SITE</span>
            <span class="trigger">검색</span>
        </p>
        <div class="select-design-viewer-option-box">
            <ul class="select-design-viewer-list">
                <li class="select-design-viewer-option">
                    <a class="corporation-familySite-corp"
                       href="http://corp.memebox.com"
                       target="_blank">
                        미미박스 기업사이트
                    </a>
                </li>
                <li class="select-design-viewer-option">
                    <a class="corporation-familySite-immeme"
                       href="http://​iammeme.com"
                       target="_blank">
                        I'M MEME 아임미미
                    </a>
                </li>
                <li class="select-design-viewer-option">
                    <a class="corporation-familySite-ponyEffect"
                       href="http://ponyeffect.com"
                       target="_blank">
                        Pony Effect 포니이펙트
                    </a>
                </li>
                <li class="select-design-viewer-option">
                    <a class="corporation-familySite-usa"
                       href="http://​iammeme.com"
                       target="_blank"
                       ga-event="푸터,푸터_미국">
                        MEMEBOX USA
                    </a>
                </li>
                <li class="select-design-viewer-option">
                    <a class="corporation-familySite-china"
                       href="http://​iammeme.com"
                       target="_blank"
                       ga-event="푸터,푸터_중국">
                        MEMEBOX CHINA
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>