<ul class="service-menus">
    <!-- 고객만족센터 -->
    <li class="service-CSCenter-wrap">
        <p class="service-CSCenter">
            <a class="service-CSCenter-tel" href="tel:15440439">1544-0439</a>
            <a class="service-CSCenter-trigger" href="/cs/faq">고객 감동 서비스센터 &gt;</a>
            <span class="service-CSCenter-info">평일 9:00 - 18:00(주말/공휴일 제외)</span>
        </p>
    </li>
    <!-- 기업 문화 -->
    <li class="service-corporation-culture-wrap">
        <dl class="service-corporation-culture">
            <dt class="service-corporation-culture-title">기업 문화</dt>
            <dd class="service-corporation-culture-content">
                <a class="service-corporation-culture-trigger"
                   href="http://blog.naver.com/memebox"
                   target="_blank"
                   ga-event="푸터,푸터_기업문화블로그">
                    기업문화 블로그 보기 &gt;
                </a>
                <a class="service-corporation-culture-trigger"
                   href="http://www.facebook.com/playmemebox"
                   target="_blank">
                    기업문화 페이스북 보기 &gt;
                </a>
                <a class="service-corporation-culture-trigger"
                   href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141749_f3H73NLEoz.pdf"
                   target="_blank"
                   ga-event="푸터,푸터_플레이북">
                    PLAYBOOK 2015 Ver DOWNLOAD &gt;
                </a>
                <a class="service-corporation-culture-trigger"
                   href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141840_WKTIHpU6lD.pdf"
                   target="_blank"
                   ga-event="푸터,푸터_플레이북">
                    PLAYBOOK 2016 Ver DOWNLOAD &gt;
                </a>
            </dd>
        </dl>
    </li>
    <!-- 고객의 소리 -->
    <li class="service-customer-statement-wrap">
        <dl class="service-customer-statement">
            <dt class="service-customer-statement-title">고객의 소리</dt>
            <dd class="service-customer-statement-content">
                        <span class="">
                            고객님의 소리에<br>더 다가가겠습니다.
                        </span>
                <a class="service-customer-statement-trigger"
                   href="/cs/inquiry/"
                   ga-event="푸터,푸터_1:1문의">
                    제안하러 가기 &gt;
                </a>
            </dd>
        </dl>
    </li>
    <!-- 파트너 서비스 -->
    <li class="service-corporation-partner-wrap">
        <dl class="service-corporation-partner">
            <dt class="service-corporation-partner-title">파트너 서비스</dt>
            <dd class="service-corporation-partner-content">
                <ul class="service-corporation-partner-ul">
                    <li class="service-corporation-partner-li">
                        <a class="service-corporation-partner-entered"
                           href="mailto:partners@memebox.com">
                            온라인 입점 문의 &gt;
                        </a>
                        <div class="service-corporation-partner-balloon">
                            partners@memebox.com
                        </div>
                    </li>
                    <li class="service-corporation-partner-li">
                        <a class="service-corporation-partner-whole-sale"
                           href="mailto:b2b@memebox.com">
                            WHOLESALE 문의 &gt;
                        </a>
                        <div class="service-corporation-partner-balloon">
                            b2b@memebox.com
                        </div>
                    </li>
                    <li class="service-corporation-partner-li">
                        <a class="service-corporation-partner-promotion"
                           href="mailto:partner_mkt@memebox.com">
                            광고/프로모션 문의 &gt;
                        </a>
                        <div class="service-corporation-partner-balloon">
                            partner_mkt@memebox.com
                        </div>
                    </li>
                    <li class="service-corporation-partner-li">
                        <a class="service-corporation-partner-franchise"
                           href="mailto:o2o_sd@memebox.com">
                            가맹점 개설문의 &gt;
                        </a>
                        <dl class="service-corporation-partner-balloon">
                            <dt>담당자:</dt>
                            <dd>성상훈</dd>
                            <dt>연락처:</dt>
                            <dd>010-9569-5447</dd>
                            <dt>email:</dt>
                            <dd>o2o_sd@memebox.com</dd>
                        </dl>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
</ul>