<div class="service-mobile-quick-link">
    <a class="service-mobile-quick-link-invite"
       href="//m.memebox.com/invite"
       ga-event="모웹푸터,푸터_친구추천">
        친구추천
    </a>
    <a class="service-mobile-quick-link-login"
       href="//m.memebox.com/login"
       ga-event="모웹푸터,푸터_로그인">
        로그인
    </a>
    <a class="service-mobile-quick-link-pcView"
       href="http://www.memebox.com?platform=pc"
       ga-event="모웹푸터,푸터_PC버전">
        PC버전
    </a>
    <a class="service-mobile-quick-link-top"
       href="#memebox-service"
       ga-event="모웹푸터,푸터_TOP">
        TOP
    </a>
</div>