<div class="service-landing-components">
    <h3 class="service-landing-title">service-landing</h3>
    <ul class="service-landing-trigger-ul">
        <li class="service-landing-trigger-li">
            <a class="service-landing-trigger-recruiter"
               href="https://memebox.recruiter.co.kr/"
               target="_blank">
                <span>세상을 바꾸는<br>미미박서 인재채용</span>
            </a>
        </li>
        <li class="service-landing-trigger-li">
            <a class="service-landing-trigger-trust"
               href="/render/15939">
                <span>온라인 화장품 구매<br>믿어도 될까요?</span>
            </a>
        </li>
        <li class="service-landing-trigger-li">
            <a class="service-landing-trigger-deliver"
               href="/render/16098">
                <span>미미박스가 배송하는<br>특별한 미미배송!</span>
            </a>
        </li>
        <li class="service-landing-trigger-li">
            <a class="service-landing-trigger-refund"
               href="/render/16089">
                <span>실패없는 쇼핑을 위한<br>90일 환불 정책</span>
            </a>
        </li>
        <li class="service-landing-trigger-li">
            <a class="service-landing-trigger-offlinestore"
               href="/offlinestore/immeme">
                <span>미미박스<br>오프라인 스토어</span>
            </a>
        </li>
    </ul>
</div>