<p class="service-CSCenter">
    <span class="service-CSCenter-title">고객센터</span>
    <a class="service-CSCenter-tel" href="tel:15440439">1544-0439</a>
    <span class="service-CSCenter-info">평일 9:00 - 18:00(주말/공휴일 제외)</span>
    <a class="service-CSCenter-trigger" href="/cs/faq">고객 감동 서비스센터 &gt;</a>
</p>