<div class="module-layer-modal">
    <strong class="module-layer-modal-title">{{title}}</strong>
    <div class="module-layer-modal__contents">

    </div>
    <div class="module-layer-modal-controller">
        <span class="module-layer-modal-closing">닫기</span>
    </div>
</div>