<p class="cellphone-certification-remaining-time-wrap">
    인증완료 까지
    <span class="cellphone-certification-remaining-time">3:00</span>
</p>
<div class="cellphone-certification-wrap">
    <label class="cellphone-certification-label">
        <span class="cellphone-certification-text">인증번호</span>
        <input class="cellphone-certification-input"
               type="number"
               name="certification"
               data-required="true"
               data-run-validate=""
               data-required-wrap="cellphone-certification-wrap"
               data-required-message="문자로 받으신 인증번호를 입력해 주세요."
               placeholder="인증번호">
    </label>

    <input class="cellphone-certification-start"
           type="button"
           value="인증하기">
</div>



<!--
<div class="signUp-cellphone-certification-wrap">
    <label class="signUp-cellphone-certification-label">
        <span class="signUp-cellphone-certification-text">인증번호</span>
        <input class="signUp-cellphone-certification-input"
               type="number"
               placeholder="인증번호">
    </label>
    <a href="#"
       class="signUp-cellphone-certification">인증하기</a>
    <a href="#"
       class="signUp-cellphone-certification-end">인증완료</a>
</div>
<div class="signUp-cellphone-certification-error">
    <p class="signUp-cellphone-certification-error-info">
        memebox1201 아이디(이메일)로 가입 된 휴대폰번호 입니다.<br>
        본인의 아이디(이메일)가 아니라면 본인인증 해 주세요.
    </p>
    <a href="#"
       class="signUp-identity-verification">
        본인 인증하기
    </a>
</div>
-->