<div class="memebox-deal-delivery">
    {{#if delivery.condition}}
        <span class="memebox-deal-delivery-shipping">{{delivery.condition}}</span>
    {{/if}}
    {{#if delivery.method}}
        <span class="memebox-deal-delivery-type">{{delivery.method}}</span>
    {{/if}}
</div>