<div class="layout-structure-footer">
    <!-- layout-structure-footer-top ------------------------------- -->
    <div class="layout-structure-footer-top">
        <!-- 랜딩 메뉴 -->
        {{> components/layout/footer/v.1.1.0/_templates/_serviceMobileQuickLink}}
    </div>
    <!-- layout-structure-footer-middle ------------------------------- -->
    <div class="layout-structure-footer-middle">
        <!-- 회사 정보 -->
        {{> components/layout/footer/v.1.1.0/_templates/_corporationInfomation}}
        {{> components/layout/footer/v.1.1.0/_templates/_serviceCSCenter}}
    </div>
</div>