<div class="layout-structure-footer">
    <!-- layout-structure-footer-middle ------------------------------- -->
    <div class="layout-structure-footer-middle">
        <!-- 회사 정보 -->
        {{> components/layout/footer/v.1.1.0/_templates/_corporationInfomation}}
    </div>
</div>