<div class="module-modal-layer">
    <strong class="module-modal-layer-title">주소찾기</strong>
    <div class="module-modal-layer__contents">

    </div>
    <div class="module-modal-layer-controller">
        <button class="module-modal-layer-closing">닫기</button>
    </div>
</div>