{{#extend "memebox-content"}}
    <div class="popup-window-close"
         data-result-success="{{success}}"
         data-result-msg="{{msg}}">
        fffff
    </div>
{{/extend}}

{{> pc/layout/layout_popup}}