<div class="signUp-SNS-wrap">
    <div class="signUp-SNS-confirmation">
        <span class="signUp-SNS-icon-kakao">kakao</span>
        <span class="signUp-SNS-name">송유정</span>님,
        <span class="signUp-SNS-kakao">kakao</span>
        계정으로 회원가입을 시작합니다.
    </div>
    <div class="signUp-SNS-information-wrap">
        <div class="module-tooltip-hover">
            <span class="module-tooltip-hover-trigger"><span class="signUp-SNS-contactUs">본인의 계정이 아닌가요?</span></span>

            <div class="module-tooltip-hover-content-wrap">
                <span class="module-tooltip-hover-arrow"></span>
                <p>
                    여러명이 사용하는 공용컴퓨터는 다른 사람이 로그인 한 후<br>
                    로그아웃하지 않아 다른 계정이 보일 수 있습니다.<br>
                    해당 연동 사이트로 이동하여 로그아웃 후 본인 계정으로 로그인 해주세요.
                </p>
            </div>
        </div>

    </div>
</div>