{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    <div class="wrap">
        <p class="text">main page</p>
    </div>
    <br>
{{/extend}}

{{> mobile/layout/layout}}