$assetHost: "/components/deal/v.1.0.0/mobile/_images/";
$_poke: $assetHost+"_poke.png";
$_polygon: $assetHost+"_ranking_bg@3x.png";
$_polygon_size: 22px 24px;
$_star_review: $assetHost+"_star_review@3x.png";
$_star_review_size: 65px 50px;
$_sticker: $assetHost+"_sticker.png";

$baseFontFamily: HelveticaNeue-Light, AppleSDGothicNeo-Light, 'Malgun Gothic', '맑은 고딕', sans-serif;