@import "./_deal";

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.deal_type_vertical_circle_4 {
    margin: 5px 10px;
    position: relative;
}
/* 상품 이미지, 벳지 */
.deal_type_vertical_circle_4 .memebox-deal-image-wrap {
    position: relative;
    margin-bottom: 8px;
}
.deal_type_vertical_circle_4 .memebox-deal-timer {
    display: none;
 }
.deal_type_vertical_circle_4 .memebox-deal-timer:before {
    display: none;
}
.deal_type_vertical_circle_4 .memebox-deal-timer-value {
    display: none;
}
.deal_type_vertical_circle_4 .memebox-deal-ranking {
    display: block;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    background-image: url($_polygon);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 22px 24px;
    width: 21px;
    height: 24px;
    margin-top: -10px;
    margin-left: -11px;
    font-family: $baseFontFamily;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}
.deal_type_vertical_circle_4 .memebox-deal-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.deal_type_vertical_circle_4 .memebox-deal-image-wrap:after { /* 이미지 안쪽으로 그림자 효과 주기 */
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 0 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.deal_type_vertical_circle_4 .memebox-deal-sticker {
    display: none;
}
/* 상품이름 */
.deal_type_vertical_circle_4 .memebox-deal-name {
    text-align: center;
    min-height: 48px;
}
.deal_type_vertical_circle_4 .memebox-deal-name-main {
    display: block;
    width: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: normal;
}
.deal_type_vertical_circle_4 .memebox-deal-name-sub {
    display: none;
}

/* 상품 현재 상태 표시 */
.deal_type_vertical_circle_4 .memebox-deal-current-status {
    display: none;
    position: relative;
    padding: 0 20px;
}
.deal_type_vertical_circle_4 .memebox-deal-review-star {
    display: inline-block;
    overflow: hidden;
    height: 14px;
    width: 83px;
    background-color: #fff;
    background-image: url($_star_review);
    background-repeat: no-repeat;
    background-position: 0 -14px;
}
.deal_type_vertical_circle_4 .memebox-deal-review-star-value {
    display: inline-block;
    overflow: hidden;
    height: 14px;
    width: 100%;
    background-color: #fff;
    background-image: url($_star_review);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.deal_type_vertical_circle_4 .memebox-deal-review-average {
    font-family: $baseFontFamily;
    font-weight: bold;
    color: #555;
}
.deal_type_vertical_circle_4 .memebox-deal-review-count {
    font-style: normal;
    margin-top: 1px;
    text-align: right;
    font-size: 12px;
    color: #555;
}
.deal_type_vertical_circle_4 .memebox-deal-sold-out {
    display: none;
}


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 가격 관련 내용 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.deal_type_vertical_circle_4 .memebox-deal-price-wrap {
    position: relative;
    margin: 2px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 1.0;
    text-align: center;
}
.deal_type_vertical_circle_4 .memebox-deal-price-discount,
.deal_type_vertical_circle_4 .memebox-deal-price-origin {
    margin-right: 5px;
}
.deal_type_vertical_circle_4 .memebox-deal-price-info,
.deal_type_vertical_circle_4 .memebox-deal-price-value,
.deal_type_vertical_circle_4 .memebox-deal-price-unit,
.deal_type_vertical_circle_4 .memebox-deal-price-from {
    position: relative;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
}
/* 상품 할인 */
.deal_type_vertical_circle_4 .memebox-deal-price-discount {
    display: none;
}
.deal_type_vertical_circle_4 .memebox-deal-price-discount .memebox-deal-price-info {}
.deal_type_vertical_circle_4 .memebox-deal-price-discount .memebox-deal-price-value {}
.deal_type_vertical_circle_4 .memebox-deal-price-discount .memebox-deal-price-unit {}

/* 상품 초기 가격 */
.deal_type_vertical_circle_4 .memebox-deal-price-origin {
    display: none;
}
.deal_type_vertical_circle_4 .memebox-deal-price-origin .memebox-deal-price-info {}
.deal_type_vertical_circle_4 .memebox-deal-price-origin .memebox-deal-price-value {}
.deal_type_vertical_circle_4 .memebox-deal-price-origin .memebox-deal-price-unit {}

/* 상품 청구 가격 */
.deal_type_vertical_circle_4 .memebox-deal-price-result {}
.deal_type_vertical_circle_4 .memebox-deal-price-result .memebox-deal-price-info {
    display: none;
}
.deal_type_vertical_circle_4 .memebox-deal-price-result .memebox-deal-price-value {}
.deal_type_vertical_circle_4 .memebox-deal-price-result .memebox-deal-price-unit {
    font-style: normal;
}
.deal_type_vertical_circle_4 .memebox-deal-price-result .memebox-deal-price-from {}


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 배송내용  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.deal_type_vertical_circle_4 .memebox-deal-delivery {
    display: none;
    position: relative;
    padding-left: 8px;
    height: 33px;
    background: #f0f0f0;
}
.deal_type_vertical_circle_4 .memebox-deal-delivery-shipping {
    display: inline-block;
    background: #71a6e2;
    color: #fff;
    font-size: 11px;
    letter-spacing: -0.1em;
    text-align: center;
    padding: 0 3px;
}
.deal_type_vertical_circle_4 .memebox-deal-delivery-type {

}

.deal_type_vertical_circle_4 .memebox-deal-info {
    position: relative;
}
/* 상품 링크 와 action */
.deal_type_vertical_circle_4 .memebox-deal-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    display: block;
    //margin: -1px;
    //border: none;
}
.deal_type_vertical_circle_4:hover .memebox-deal-link {
    border: none;
    /*background-color: #fff;*/
    /*opacity: .1;*/
}
.deal_type_vertical_circle_4:hover .memebox-deal-image {
    //opacity: 1;
}

/* 찜하기 */
.deal_type_vertical_circle_4 .memebox-deal-poke-wrap {
    display: none;
}
.deal_type_vertical_circle_4 .memebox-deal-poke {
    position: absolute;
    bottom: 40px;
    right: 10px;
    display: block;
    overflow: hidden;
    height: 50px;
    width: 38px;
    border: none;
    text-indent: -99999px;
    background-color: #fff;
    background-image: url($_poke);
    background-repeat: no-repeat;
}
.deal_type_vertical_circle_4 .memebox-deal-poke:hover {
    background-position: 0 -50px;
}
.deal_type_vertical_circle_4 .memebox-deal-poke-checked {
    display: none;
}