$assetHost: '';
$_poke: $assetHost+"/components/deal/v.1.0.0/mobile/_image/_poke.png";
$_polygon: $assetHost+"/components/deal/v.1.0.0/mobile/_image/_polygon@2x.png";
$_star_review: $assetHost+"/components/deal/v.1.0.0/mobile/_image/_star_review_mobile.png";

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.deal_type_horizontal_square_10 {
    position: relative;
    margin: 0 0 8px;
    background-color: #fff;
}
/* 상품 이미지, 벳지 */
.deal_type_horizontal_square_10 .memebox-deal-image-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    height: 135px;
    width: 135px;
}
/* 타이머 */
.deal_type_horizontal_square_10 .memebox-deal-timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.deal_type_horizontal_square_10 .memebox-deal-timer::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    opacity: .1;
}
.deal_type_horizontal_square_10 .memebox-deal-timer-value {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px gray;
    color: #fff;
    font-family: 나눔고딕, NanumGothic, 돋움, Dotum, AppleSDGothic, AppleGothic, 굴림, Gulim, sans-serif;
}
/* 렝킹 */
.deal_type_horizontal_square_10 .memebox-deal-ranking {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 22px;
    height: 24px;
    background-image: url($_polygon);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 22px 24px;
    font-family: 나눔고딕, NanumGothic, 돋움, Dotum, AppleSDGothic, AppleGothic, 굴림, Gulim, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}
/* 스티커 */
.deal_type_horizontal_square_10 .memebox-deal-sticker {
    display: none;
}
/* 상품 이미지 */
.deal_type_horizontal_square_10 .memebox-deal-image {
    display: block;
    width: auto;
    height: 100%;
}

/* 상품이름 */
.deal_type_horizontal_square_10 .memebox-deal-name {
    position: absolute;
    left: 150px;
    top: 15px;
    padding-right: 20px;
    padding-bottom: 6px;
}
.deal_type_horizontal_square_10 .memebox-deal-name-main {
    display: block;
    color: #555;
    font-size: 13px;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.deal_type_horizontal_square_10 .memebox-deal-name-sub {
    display: block;
    font-style: normal;
    font-size: 12px;
    color: #aaa;
}

/* 상품 현재 상태 표시 */
.deal_type_horizontal_square_10 .memebox-deal-current-status {
    position: absolute;
    left: 150px;
    bottom: 20px;
}
/* 별 리뷰 */
.deal_type_horizontal_square_10 .memebox-deal-review-star {
    display: inline-block;
    overflow: hidden;
    height: 11px;
    width: 59px;
    background-color: #fff;
    background-image: url($_star_review);
    background-size: 60px auto;
    background-repeat: no-repeat;
    background-position: 0 -12px;
}
.deal_type_horizontal_square_10 .memebox-deal-review-star-value {
    display: block;
    overflow: hidden;
    height: 11px;
    width: 100%;
    background-color: #fff;
    background-image: url($_star_review);
    background-size: 60px auto;
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* 평점 */
.deal_type_horizontal_square_10 .memebox-deal-review-average {
    display: none;
}
/* 리뷰 수 */
.deal_type_horizontal_square_10 .memebox-deal-review-count {
    font-style: normal;
    margin-top: 1px;
    text-align: right;
    font-size: 11px;
    color: #555;
}
/* 판매완료 */
.deal_type_horizontal_square_10 .memebox-deal-sold-out {
    display: none;
}



/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 가격 관련 내용 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.deal_type_horizontal_square_10 .memebox-deal-price-wrap {
    position: absolute;
    left: 150px;
    bottom: 40px;
    margin: 0;
    font-family: 나눔고딕, NanumGothic, 돋움, Dotum, AppleSDGothic, AppleGothic, 굴림, Gulim, sans-serif;
    font-size: 13px;
    letter-spacing: -1px;
}
/* 상품 할인 */
.deal_type_horizontal_square_10 .memebox-deal-price-discount {
    font-weight: bold;
    color: #ff5073;
}
.deal_type_horizontal_square_10 .memebox-deal-price-discount .memebox-deal-price-info {}
.deal_type_horizontal_square_10 .memebox-deal-price-discount .memebox-deal-price-value {}
.deal_type_horizontal_square_10 .memebox-deal-price-discount .memebox-deal-price-unit {
    font-style: normal;
}

/* 상품 초기 가격 */
.deal_type_horizontal_square_10 .memebox-deal-price-origin {
    display: none;
}
.deal_type_horizontal_square_10 .memebox-deal-price-origin .memebox-deal-price-info {}
.deal_type_horizontal_square_10 .memebox-deal-price-origin .memebox-deal-price-value {}
.deal_type_horizontal_square_10 .memebox-deal-price-origin .memebox-deal-price-unit {}

/* 상품 청구 가격 */
.deal_type_horizontal_square_10 .memebox-deal-price-result {
    font-family: 나눔고딕, NanumGothic, 돋움, Dotum, AppleSDGothic, AppleGothic, 굴림, Gulim, sans-serif;;
    font-size: 13px;
    letter-spacing: -1px;
    color: #555;
}
.deal_type_horizontal_square_10 .memebox-deal-price-result .memebox-deal-price-info {
    font-weight: bold;
    color: #ff5073;
}
.deal_type_horizontal_square_10 .memebox-deal-price-result .memebox-deal-price-value {}
.deal_type_horizontal_square_10 .memebox-deal-price-result .memebox-deal-price-unit {
    font-style: normal;
}
.deal_type_horizontal_square_10 .memebox-deal-price-result .memebox-deal-price-from {}


/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 배송내용  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.deal_type_horizontal_square_10 .memebox-deal-delivery {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    line-height: 12px;
    font-size: 10px;
}
.deal_type_horizontal_square_10 .memebox-deal-delivery-shipping {
    display: inline-block;
    padding: 1px 3px 0;
    color: #5895da;
    background-color: #f1f6fc;
}
.deal_type_horizontal_square_10 .memebox-deal-delivery-type {
    display: inline-block;
    padding: 1px 3px 0;
    color: #ff5073;
    background-color: #ffebf1;
}





.deal_type_horizontal_square_10 .memebox-deal-info {
    position: relative;
}
/* 상품 링크 와 action */
.deal_type_horizontal_square_10 .memebox-deal-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    margin: -1px;
    border: 1px solid #f0f0f0;
}
.deal_type_horizontal_square_10:hover .memebox-deal-link {
     border: 1px solid #ff5073;
     /*background-color: #fff;*/
     /*opacity: .1;*/
 }
.deal_type_horizontal_square_10:hover .memebox-deal-image {
    opacity: .8;
}


.deal_type_horizontal_square_10 .memebox-deal-sell-stop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //text-indent: -9999px;
    display: block;
    margin: -1px;
    border: 1px solid #f0f0f0;
    background-color: #000;
    opacity: .5;
    z-index: 1;
}


/* 찜하기 */
.deal_type_horizontal_square_10 .memebox-deal-poke-wrap {
    display: none;
}
.deal_type_horizontal_square_10 .memebox-deal-poke {
    position: absolute;
    bottom: 40px;
    right: 10px;
    display: block;
    overflow: hidden;
    height: 50px;
    width: 38px;
    border: none;
    text-indent: -99999px;
    background-color: #fff;
    background-image: url($_poke);
    background-repeat: no-repeat;
}
.deal_type_horizontal_square_10 .memebox-deal-poke:hover {
    background-position: 0 -50px;
}
.deal_type_horizontal_square_10 .memebox-deal-poke-checked {
    display: none;
}