{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    {{> mobile/member/signUp/signUpHeader/signUpHeader}}

    <form class="signUp-form" action="/signup/action" method="post">
        <fieldset>
            <legend>미미박스 회원 가입</legend>

            <div class="signUp-form-required">
                <strong class="signUp-form-required-title">기본정보 <span>(필수)</span></strong>
                <ul class="signUp-form-required-ul">
                    <li class="signUp-form-required-li">
                        {{> templates/member/signUp/_name}}
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-email-wrap">
                            {{> templates/member/signUp/_email_label}}
                            <select class="signUp-email-host-select">
                                <option value="">직접입력</option>
                                <option value="@naver.com">@naver.com</option>
                                <option value="@daum.net">@daum.net</option>
                                <option value="@gmail.com">@gmail.com</option>
                                <option value="@hotmail.com">@hotmail.com</option>
                                <option value="@lycos.co.kr">@lycos.co.kr</option>
                                <option value="@empal.com">@empal.com</option>
                                <option value="@dreamwiz.com">@dreamwiz.com</option>
                                <option value="@korea.com">@korea.com</option>
                            </select>
                        </div>
                        <p class="validate-message"></p>
                    </li>
                    <li class="signUp-form-required-li">
                        {{> templates/member/signUp/_password}}
                    </li>
                    <li class="signUp-form-required-li">
                        {{> templates/member/signUp/_confirm}}
                    </li>
                    <li class="signUp-form-required-li">
                        {{> templates/member/signUp/_cellphone}}
                    </li>

                    <li class="signUp-form-required-li signUp-cellphone-certification-content">

                    </li>
                </ul>
            </div>

            <div class="signUp-form-optional">
                <strong class="signUp-form-optional-title">부가정보</strong>
                <ul class="signUp-form-optional-ul">
                    <li class="signUp-form-required-li">
                        {{> templates/member/signUp/_recommendUser}}
                    </li>
                </ul>
            </div>

            <div class="signUp-form-controller">
                <input class="signUp-form-submit"
                       type="submit"
                       value="확인"
                       disabled>
            </div>
        </fieldset>
    </form>
{{/extend}}

{{#extend "memebox-footer"}}
    {{> components/layout/footer/v.1.1.0/mobile/footer}}
{{/extend}}

{{> pc/layout/layout}}