$assetHost: '';
$_poke: $assetHost+"/components/deal/v.1.0.0/mobile/_image/_poke.png";
$_polygon: $assetHost+"/components/deal/v.1.0.0/mobile/_image/_polygon.png";
$_star_review: $assetHost+"/components/deal/v.1.0.0/mobile/_image/_star_review.png";
