$assetHost: '';
$_poke: $assetHost+"/components/deal/v.1.0.0/pc/_image/_poke.png";
$_polygon: $assetHost+"/components/deal/v.1.0.0/pc/_image/_polygon.png";
$_star_review: $assetHost+"/components/deal/v.1.0.0/pc/_image/_star_review.png";

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.deal_type_vertical_square_10 {
}

.memebox-deal {
    margin: 10px;
    /*border: 1px solid #f0f0f0;*/
}

/*.memebox-deal:hover {*/
/*border: 1px solid #ff5073;*/
/*}*/

.deal .dealThumb img {
    width: 100%;
    height: auto;
}
/*
div.newDealContents .dealList .deal .dealThumb img {
    width: 100%;
    height: auto;
}

div.newDealContents .deal .dealhead .title {
    width: auto;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: -0.1em;
}

 ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ 상품 ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
.deal_type_vertical_square_10 {
    position: relative;
}
/* 상품 이미지, 벳지 */
.deal_type_vertical_square_10 .memebox-deal-image-wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 7px;
}
.deal_type_vertical_square_10 .memebox-deal-timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.deal_type_vertical_square_10 .memebox-deal-timer::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    opacity: .1;
}
.deal_type_vertical_square_10 .memebox-deal-timer-value {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px gray;
    color: #fff;
    font-family: 나눔고딕, NanumGothic, 돋움, Dotum, AppleSDGothic, AppleGothic, 굴림, Gulim, sans-serif;
}

.deal_type_vertical_square_10 .memebox-deal-ranking {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 22px;
    height: 24px;
    background-image: url($_polygon);
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}
.deal_type_vertical_square_10 .memebox-deal-image {
    width: auto;
    height: 240px;
}
.deal_type_vertical_square_10 .memebox-deal-sticker {
    display: block;
}
/* 상품이름 */
.deal_type_vertical_square_10 .memebox-deal-name {
    padding-bottom: 6px;
}
.deal_type_vertical_square_10 .memebox-deal-name-main {
    display: block;
    color: #333;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.deal_type_vertical_square_10 .memebox-deal-name-sub {
    display: none;
}

/* 상품 현재 상태 표시 */
.deal_type_vertical_square_10 .memebox-deal-current-status {
    position: relative;
    padding: 0 8px;
}
.deal_type_vertical_square_10 .memebox-deal-review-star {
    display: inline-block;
    overflow: hidden;
    height: 14px;
    width: 83px;
    background-color: #fff;
    background-image: url($_star_review);
    background-repeat: no-repeat;
    background-position: 0 -14px;
}
.deal_type_vertical_square_10 .memebox-deal-review-star-value {
    display: inline-block;
    overflow: hidden;
    height: 14px;
    width: 100%;
    background-color: #fff;
    background-image: url($_star_review);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.deal_type_vertical_square_10 .memebox-deal-review-average {
    font-family: 'tahoma';
    font-weight: bold;
    color: #555;
}
.deal_type_vertical_square_10 .memebox-deal-review-count {
    font-style: normal;
    margin-top: 1px;
    text-align: right;
    font-size: 12px;
    color: #555;
}
.deal_type_vertical_square_10 .memebox-deal-sold-out {
    display: none;
}


/* 상품 가격 관련 내용 */
.deal_type_vertical_square_10 .memebox-deal-price-wrap {
    padding: 0 8px;
    margin-bottom: 10px;
}
.deal_type_vertical_square_10 .memebox-deal-price-origin {
    text-decoration: line-through;
    margin: 0 9px 0 0;
    font-family: tahoma;
    font-size: 12px;
    color: #898989;
}
.deal_type_vertical_square_10 .memebox-deal-price-origin .memebox-deal-price-unit {
    font-style: normal;
}
.deal_type_vertical_square_10 .memebox-deal-price-origin .memebox-deal-price-info {
    display: none;
}
.deal_type_vertical_square_10 .memebox-deal-price-discount {
    font-family: Verdana;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #ff5073;
    line-height: 29px;
}
.deal_type_vertical_square_10 .memebox-deal-price-discount .memebox-deal-price-info {
    display: none;
}
.deal_type_vertical_square_10 .memebox-deal-price-result {
    margin-top: -3px;
    font-family: tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.deal_type_vertical_square_10 .memebox-deal-price-result .memebox-deal-price-info {
    display: none;
}
.deal_type_vertical_square_10 .memebox-deal-price-result .memebox-deal-price-unit {
    font-style: normal;
    font-family: '돋움', Dotum;
    font-size: 12px;
}
.deal_type_vertical_square_10 .memebox-deal-price-result {
}
.deal_type_vertical_square_10 .memebox-deal-price-info {}
.deal_type_vertical_square_10 .memebox-deal-price-value {}
.deal_type_vertical_square_10 .memebox-deal-price-unit {}


/* 상품 배송내용 */
.deal_type_vertical_square_10 .memebox-deal-delivery {
    position: relative;
    padding-left: 8px;
    height: 33px;
    background: #f0f0f0;
}
.deal_type_vertical_square_10 .memebox-deal-delivery-shipping {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    display: block;
    background: #71a6e2;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.1em;
    text-align: center;
    padding: 0 3px;
}
.deal_type_vertical_square_10 .memebox-deal-delivery-type {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 6px;
    background-color: #ff0072;
    color: #fff;
    line-height: 33px;
    font-size: 12px;
}





.deal_type_vertical_square_10 .memebox-deal-info {
    position: relative;
}
/* 상품 링크 와 action */
.deal_type_vertical_square_10 .memebox-deal-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    display: block;
    margin: -1px;
    border: 1px solid #f0f0f0;
}
.deal_type_vertical_square_10:hover .memebox-deal-link {
    border: 1px solid #ff5073;
    /*background-color: #fff;*/
    /*opacity: .1;*/
}
.deal_type_vertical_square_10:hover .memebox-deal-image {
    opacity: .8;
}


.deal_type_vertical_square_10 .memebox-deal-sell-stop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
//text-indent: -9999px;
    display: block;
    margin: -1px;
    border: 1px solid #f0f0f0;
    background-color: #000;
    opacity: .5;
    z-index: 1;
}


/* 찜하기 */
.deal_type_vertical_square_10 .memebox-deal-poke-wrap {

}
.deal_type_vertical_square_10 .memebox-deal-poke {
    position: absolute;
    bottom: 40px;
    right: 10px;
    display: block;
    overflow: hidden;
    height: 50px;
    width: 38px;
    border: none;
    text-indent: -99999px;
    background-color: #fff;
    background-image: url($_poke);
    background-repeat: no-repeat;
}
.deal_type_vertical_square_10 .memebox-deal-poke:hover {
    background-position: 0 -50px;
}
.deal_type_vertical_square_10 .memebox-deal-poke-checked {
    display: none;
}