{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
    {{> components/layout/header/v.1.1.0/pc/header_simple}}
{{/extend}}

{{#extend "memebox-content"}}
    {{> pc/member/signUp/signUpHeader/signUpHeader}}

    <form class="signUp-form" action="/signup/action" method="post">
        <fieldset>
            <legend>미미박스 회원 가입</legend>

            {{> pc/member/signUp/signUpSNS/signUpSNS}}

            <div class="signUp-form-required">
                <strong class="signUp-form-required-title">기본정보</strong>
                <ul class="signUp-form-required-ul">
                    <li class="signUp-form-required-li">
                        <div class="signUp-name-wrap">
                            <label class="signUp-name-label">이름</label>
                            <input class="signUp-name-input" type="text" placeholder="이름">
                        </div>
                        <p class="validate-message">이름을 정확히 입력하세요.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-email-wrap">
                            <label class="signUp-email-label">아이디(이메일)</label>
                            <input class="signUp-email-input-id" type="text" name="emailId" placeholder="아이디">
                            <span class="signUp-email-at-sign">@</span>
                            <input class="signUp-email-input-host" type="text" name="emailHost" placeholder="이메일">

                            <div class="signUp-email-host-select">
                                <div class="select-design-viewer">
                                    <p class="select-design-viewer-option-selector">
                                        <span class="value">직접 입력</span>
                                        <span class="trigger">검색</span>
                                    </p>
                                    <div class="select-design-viewer-option-box">
                                        <ul class="select-design-viewer-list">
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="">직접입력</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="naver.com">naver.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="daum.net">daum.net</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="nate.com">nate.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="gmail.com">gmail.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="hotmail.com">hotmail.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="lycos.co.kr">lycos.co.kr</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="empal.com">empal.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="dreamwiz.com">dreamwiz.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="korea.com">korea.com</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="validate-message">이메일 형식이 잘못되었습니다.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-input-password-wrap">
                            <label class="signUp-password-label">비밀번호</label>
                            <input class="signUp-password-input" type="password" placeholder="비밀번호">
                        </div>
                        <p class="validate-message">비밀번호는 6-15자 이내로 입력 바랍니다.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-password-confirm-wrap">
                            <label class="signUp-password-confirm-label">비밀번호 확인</label>
                            <input class="signUp-password-confirm-input" type="password" placeholder="비밀번호 확인">
                        </div>
                        <p class="validate-message">입력하신 비밀번호가 일치하지 않습니다.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-cellphone-wrap">
                            <label class="signUp-cellphone-label">휴대폰번호</label>
                            <input class="signUp-cellphone-input" type="number" placeholder="휴대폰번호">
                            <a href="#" class="signUp-cellphone-certification">번호인증</a>
                        </div>
                        <p class="validate-message">휴대폰번호를 다시 확인해 주세요.</p>
                    </li>
                </ul>
            </div>

            <div class="signUp-form-optional">
                <strong class="signUp-form-optional-title">부가정보</strong>
                <ul class="signUp-form-optional-ul">
                    <li class="signUp-form-required-li">
                        <div class="signUp-recommendUser-wrap">
                            <label class="signUp-recommendUser-label">추천인 이메일 아이디 또는 코드 입력</label>
                            <input class="signUp-recommendUser-input" type="text" placeholder="추천인 이메일 아이디 또는 코드 입력">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="signUp-form-controller">
                <button class="signUp-form-submit" type="submit">동의하고 회원가입</button>
            </div>
        </fieldset>
    </form>
{{/extend}}

{{#extend "memebox-footer"}}
    {{> components/layout/footer/v.1.1.0/pc/footer}}
{{/extend}}

{{> pc/layout/layout}}