{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
    {{> components/layout/header/v.1.1.0/pc/header_simple}}
{{/extend}}

{{#extend "memebox-content"}}
    {{> pc/member/signUp/signUpHeader/signUpHeader}}
    <div class="signed-up">
        <div class="signed-up-message">
            <strong>미미박스 회원가입을 축하합니다.</strong>
            <span>고객님의 ID는 meme123@memebox.com입니다.</span>
        </div>

        <div class="signed-up-event-wrap">
            <span class="signed-up-event-content">즉시 사용가능 한 할인쿠폰 3종 발급!</span>
        </div>

        <div class="signed-up-form-controller">
            <button class="signed-up-form-submit" type="submit">시작하기</button>
        </div>
    </div>

{{/extend}}

{{#extend "memebox-footer"}}
    {{> components/layout/footer/v.1.1.0/pc/footer}}
{{/extend}}

{{> pc/layout/layout}}