{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    <div class="wrap">
        <p class="text">회원 가입</p>
    </div>
    <br>

    <div class="signUp-header">
        MEMEBOX
    </div>

    <div class="signUp-SNS-wrap">
        <div class="signUp-SNS-confirmation">
            <span class="signUp-SNS-icon-facebook">facebook</span>
            <span class="signUp-SNS-name">송유정</span>님,
            <span class="signUp-SNS-facebook">facebook</span>
            계정으로 회원가입을 시작합니다.
        </div>
        <div class="signUp-SNS-information-wrap">
            <a class="signUp-SNS-contactUs" href="">본인의 계정이 아닌가요</a>

            <div class="module-tooltip-hover">
                <span class="module-tooltip-hover-trigger">i</span>

                <p class="module-tooltip-hover-content-wrap">
                    <span class="module-tooltip-hover-arrow"></span>
                    여러명이 사용하는 공용컴퓨터는 다른 사람이 로그인 한 후 로그아웃하지 않아 다른 계정이 보일 수 있습니다.
                    해당 연동 사이트로 이동하여 로그아웃 후 본인 계정으로 로그인 해주세요.
                </p>
            </div>
        </div>
    </div>


    <form class="signUp-form" action="/signup/action" method="post">
        <fieldset>
            <legend>미미박스 회원 가입</legend>
            <div class="signUp-form-required">
                <strong class="signUp-form-required-title">기본정보</strong>
                <ul class="signUp-form-required-ul">
                    <li class="signUp-form-required-li">
                        <div class="signUp-name-wrap">
                            <label class="signUp-name-label">이름</label>
                            <input class="signUp-name-input" type="text" placeholder="이름">
                        </div>
                        <p class="validate-message">이름을 정확히 입력하세요.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-email-wrap">
                            <label class="signUp-email-label">아이디(이메일)</label>
                            <input class="signUp-email-input-id" type="text" name="emailId" placeholder="아이디">
                            <span class="signUp-email-at-sign">@</span>
                            <input class="signUp-email-input-host" type="text" name="emailHost" placeholder="이메일">

                            <div class="signUp-email-host-select">
                                <div class="select-design-viewer">
                                    <p class="select-design-viewer-option-selector">
                                        <span class="value">직접 입력</span>
                                        <span class="trigger">검색</span>
                                    </p>
                                    <div class="select-design-viewer-option-box">
                                        <ul class="select-design-viewer-list">
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="">직접입력</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="naver.com">naver.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="daum.net">daum.net</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="nate.com">nate.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="gmail.com">gmail.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="hotmail.com">hotmail.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="lycos.co.kr">lycos.co.kr</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="empal.com">empal.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="dreamwiz.com">dreamwiz.com</span>
                                            </li>
                                            <li class="select-design-viewer-option">
                                                <span class="signUp-email-host-option" data-value="korea.com">korea.com</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="validate-message">이메일 형식이 잘못되었습니다.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-input-password-wrap">
                            <label class="signUp-password-label">비밀번호</label>
                            <input class="signUp-password-input" type="password" placeholder="비밀번호">
                        </div>
                        <p class="validate-message">비밀번호는 6-15자 이내로 입력 바랍니다.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-password-confirm-wrap">
                            <label class="signUp-password-confirm-label">비밀번호 확인</label>
                            <input class="signUp-password-confirm-input" type="password" placeholder="비밀번호 확인">
                        </div>
                        <p class="validate-message">입력하신 비밀번호가 일치하지 않습니다.</p>
                    </li>
                    <li class="signUp-form-required-li">
                        <div class="signUp-cellphone-wrap">
                            <label class="signUp-cellphone-label">휴대폰번호</label>
                            <input class="signUp-cellphone-input" type="number" placeholder="휴대폰번호">
                            <a href="#" class="signUp-cellphone-certification">번호인증</a>
                        </div>
                        <p class="validate-message">휴대폰번호를 다시 확인해 주세요.</p>
                    </li>
                </ul>
            </div>

            <div class="signUp-form-optional">
                <strong class="signUp-form-optional-title">부가정보</strong>
                <ul class="signUp-form-optional-ul">
                    <li class="signUp-form-required-li">
                        <div class="signUp-recommendUser-wrap">
                            <label class="signUp-recommendUser-label">추천인 이메일 아이디 또는 코드 입력</label>
                            <input class="signUp-recommendUser-input" type="text" placeholder="추천인 이메일 아이디 또는 코드 입력">
                        </div>
                    </li>
                    <li class="signUp-form-optional-li">
                        <div class="signUp-receive-wrap">
                            <input class="signUp-receive-email" type="checkbox">
                            <label class="signUp-receive-email-label">쇼핑 이메일 수신</label>
                            <input class="signUp-receive-SNS" type="checkbox">
                            <label class="signUp-receive-SNS-label">쇼핑 SNS 수신</label>
                        </div>
                        <p class="signUp-form-optional-info">
                            수신 동의 시 미미박스만의 특별한 혜택을 받아보실 수 있습니다.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="signUp-form-agreement">
                <strong class="signUp-form-agreement-title">약관동의</strong>
                <ul class="signUp-form-agreement-ul">
                    <li class="signUp-form-agreement-li">
                        <div class="agreement-memeboxUse">
                            <input class="agreement-memeboxUse-checkbox" type="checkbox">
                            <label class="agreement-memeboxUse-label">미미박스 이용약관에 동의합니다.</label>
                            <a href="#signUpMemeboxUseContent" class="terms-view-trigger">내용보기</a>
                        </div>
                        <p class="validate-message">미미박스 이용약관에 동의해 주세요.</p>
                    </li>
                    <li class="signUp-form-agreement-li">
                        <div class="agreement-privacy">
                            <input class="agreement-privacy-checkbox" type="checkbox">
                            <label class="agreement-privacy-label">개인정보 수집 및 이용에 동의합니다.</label>
                            <a href="#signUpPrivacyContent" class="terms-view-trigger">내용보기</a>
                        </div>
                        <p class="validate-message">개인정보 수집 및 이용에 동의해 주세요.</p>
                    </li>
                    <li class="signUp-form-agreement-li">
                        <div class="agreement-thirdParty">
                            <input class="agreement-thirdParty-checkbox" type="checkbox">
                            <label class="agreement-thirdParty-label">개인정보 제3자(판매자) 제공에 동의합니다.</label>
                            <a href="#signUpThirdPartyContent" class="terms-view-trigger">내용보기</a>
                        </div>
                        <p class="validate-message">개인정보 제3자(판매자) 제공에 동의해 주세요.</p>
                    </li>
                    <li class="signUp-form-agreement-li">
                        <div class="agreement-overFourteen">
                            <input class="agreement-overFourteen-checkbox" type="checkbox">
                            <label class="agreement-overFourteen-label">만 14세 이상입니다.</label>
                        </div>
                        <p class="validate-message">만 14세 이하는 가입 하실 수 없습니다.</p>
                    </li>
                </ul>
            </div>

            <div class="signUp-form-controller">
                <button class="signUp-form-submit" type="submit">동의하고 회원가입</button>
            </div>
        </fieldset>
    </form>

    <div class="signUp-terms">
        <ul class="signUp-terms-ul">
            <li class="signUp-terms-li">
                <strong id="signUpMemeboxUseContent" class="signUp-terms-title">미미박스 패밀리 사이트 이용약관</strong>
                <div class="signUp-terms-content-text">
                    {{> modules/_terms/memeboxUse}}
                </div>
            </li>
            <li class="signUp-terms-li">
                <strong id="signUpPrivacyContent" class="signUp-terms-title">개인정보 수집 및 이용 안내</strong>
                <div class="signUp-terms-content-table">
                    {{> modules/_terms/privacy}}
                </div>
            </li>
            <li class="signUp-terms-li">
                <strong id="signUpThirdPartyContent" class="signUp-terms-title">개인정보 제3자(판매자) 제공</strong>
                <div class="signUp-terms-content-table">
                    {{> modules/_terms/thirdParty}}
                </div>
            </li>
        </ul>

    </div>
{{/extend}}

{{> layout_pc}}