$assetHost: '/modules/_designViewer/_select/v.1.0.0/box/_images/';
$_signUp-cellphone-certification-end: $assetHost+'_select.png';

$baseFontFamily: 나눔고딕, NanumGothic, 돋움, Dotum, AppleSDGothic, AppleGothic, 굴림, Gulim, sans-serif;


#memebox-service {
  background-color: #f9f9f9;
}
.layout-structure-content {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  padding-bottom: 200px;
}
// from 요소 공통 ////////////////////////////////
.signUp-form {
  width: 465px;
  margin: 70px auto 0;
}
.signUp-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.signUp-form legend {
  display: none;
}
.signUp-form input {
  line-height: 3;
  padding: 0;
}
.signUp-form label {
  font-family: $baseFontFamily;
  color: #555555;
}
.validate-message {
  margin: 8px 0 0 0;
  color: #f00;
  display: none;
  font-size: 13px;
}


// 사용자 입력 ////////////////////////////////
// 입력 목록
.signUp-form-required,
.signUp-form-optional {
  margin-top: 30px;
}
.signUp-form-required-title,
.signUp-form-optional-title {
  display: block;
  color: #555;
}
.signUp-form-required-ul,
.signUp-form-optional-ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  background-color: #fff;
}
.signUp-form-required-li,
.signUp-form-optional-li {
  padding: 0;
  margin: 10px 0 0;
}

//내용
.signUp-name-wrap,
.signUp-email-wrap,
.signUp-password-wrap,
.signUp-password-confirm-wrap,
.signUp-cellphone-wrap,
.cellphone-certification-wrap,
.signUp-recommendUser-wrap {
  position: relative;
}
.signUp-name-label,
.signUp-email-label,
.signUp-password-label,
.signUp-password-confirm-label,
.signUp-cellphone-label,
.cellphone-certification-label,
.signUp-recommendUser-label {
  display: block;
  font-size: 15px;
}
.signUp-name-text,
.signUp-email-text,
.signUp-password-text,
.signUp-password-confirm-text,
.signUp-cellphone-text,
.cellphone-certification-text,
.signUp-recommendUser-text {
  display: none;
}
.signUp-name-input,
.signUp-email-input,
.signUp-password-input,
.signUp-password-confirm-input,
.signUp-cellphone-input,
.cellphone-certification-input,
.signUp-recommendUser-input {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  text-indent: 10px;
}
// 이메일 예외처리 ///////////////////
.signUp-email-label {
  width: 59.5%;
}
.signUp-email-host-select {
  width: 38%;
  position: absolute;
  top: 0;
  right: 0;
}
.signUp-email-host-option {
  font-size: 15px;
  color: #555555;
  padding: 0 10px;
}
// 디자인 select 디자인 수정
.signUp-email-host-select .select-design-viewer-option-selector {
  font-size: 15px;
}
.signUp-email-host-select .select-design-viewer-option-selector .value {
  line-height: 3;
}
.signUp-email-host-select .select-design-viewer-option-selector .trigger {
  width: 46px;
  height: 46px;
  background-size: 47px;
}
.signUp-email-host-select .select-design-viewer-list-box {
  margin-right: 46px;
}
.signUp-cellphone-certification-trigger {
  display: block;
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  line-height: 3;
  border: 1px solid #cccccc;
  background-color: #c6c6c6;
  color: #fff;
}
.signUp-cellphone-certification-content {
  //display: none;
}




//가입하기 //////////////////////////////
.signUp-form-controller {
  margin-top: 30px;
}
.signUp-form-submit {
  display: block;
  width: 100%;
  text-align: center;
  padding: 22px 0;
  color: #fff;
  font-size: 26px;
  background-color: #ff4f73;
  border: none;
  border-radius: 3px;
}



