$assetHost: '/app/memebox/mobile/member/signUp/signUpHeader/';
$_history-back: $assetHost+'_history-back.png';


.signUp-header-wrap {
  position: relative;
  background-color: #fff;
  padding: 13px 15px;
  border-bottom: 1px solid #e0e0e0;
}
.signUp-header {
}
.signUp-header-title {
  display: block;
  margin: 0;
  padding-left: 30px;
  font-size: 17px;
  color: #555555;
  font-weight: normal;
  line-height: 1.1;
}
.signUp-step-viewer {
  float: right;
  margin: 35px 0 0;
}
.history-back {
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-image: url($_history-back);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px auto;
}

