{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    <!--<h1>딜 모두 보기 </h1>-->

    <h2>deal_type_vertical_circle_4</h2>
    <div class="deal-container"
         data-container-line-amount="3"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 4
                },
                "image": {
                    "type": "circle"
                }
            }'
         data-deal-function='{}'>
    </div>

    <h2>deal_type_vertical_wide_2</h2>
    <div class="deal-container"
         data-container-line-amount="2"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 2
                },
                "image": {
                    "type": "wide"
                }
            }'
         data-deal-function='{}'>
    </div>

    <h2>deal_type_horizontal_square_10</h2>
    <div class="deal-container"
         data-container-line-amount="1"
         data-container-view-type='{
                "view": {
                    "type": "horizontal",
                    "expression": 10
                },
                "image": {
                    "type": "square"
                }
            }'
         data-deal-function='{}'>
    </div>

    <h2>deal_type_vertical_square_10</h2>
    <div class="deal-container"
         data-container-line-amount="2"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 10
                },
                "image": {
                    "type": "square"
                }
            }'
         data-deal-function='{}'>
    </div>

    <h2>deal_type_vertical_square_4</h2>
    <div class="deal-container"
         data-container-line-amount="2"
         data-container-view-type='{
                "view": {
                    "type": "vertical",
                    "expression": 4
                },
                "image": {
                    "type": "square"
                }
            }'
         data-deal-function='{}'>
    </div>
{{/extend}}

{{> mobile/layout/layout}}