<a class="deal-item-option-viewer" href="#">
    <em class="deal-item-option-viewer-title">{{category.type.value}}</em>
    {{#if category.type.price}}
        <strong class="deal-item-option-viewer-location">
            <span class="deal-item-option-viewer-price">{{category.type.price}}</span>
            <span class="deal-item-option-viewer-unit">원</span>
        </strong>
    {{/if}}
</a>
