$assetHost: '';
$_deal_inline_gallery: $assetHost+"/components/dealContainer/v.1.0.0/_deal_inline_gallery/pc/_images/_deal_inline_gallery.png";

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 상품 바로 선택 옵션 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

/*  상품에서 쉬운 선택 버튼 레이어  */
.deal-inline-gallery-wrap {
    position: relative;
}
.deal-inline-gallery-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;

    color: #555555;
    font-family: 나눔고딕볼드, NanumGothicBold, 나눔고딕, NanumGothic, 돋움, Dotum, AppleSDGothic, AppleGothic, 굴림, Gulim, sans-serif;
}

.deal-inline-gallery {
    width: 100%;
    position: relative;
    overflow: hidden;
    left: -10px;
}
.deal-inline-gallery .memebox-deal-wrapper {
    float: left;
}
.deal-inline-gallery-navigation {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    line-height: 21px;
}
.deal-inline-gallery-navigation .paging {
    font-size: 13px;
    color: #555555;
    padding-right: 10px;
}
.deal-inline-gallery-navigation .current {
    font-weight: bold;
}
.deal-inline-gallery-navigation .total {}

.deal-inline-gallery-navigation .left,
.deal-inline-gallery-navigation .right {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    background-image: url($_deal_inline_gallery);
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
}
.deal-inline-gallery-navigation .left {
    background-position: 6px 5px;
}
.deal-inline-gallery-navigation .left.disabled {
    border: 1px solid #e2e2e2;
    background-color: #fafafa;
    background-position: 6px -16px;
    color: #fafafa;
    cursor: auto;
}
.deal-inline-gallery-navigation .right {
    background-position: 8px -37px;
}
.deal-inline-gallery-navigation .right.disabled {
    border: 1px solid #e2e2e2;
    background-color: #fafafa;
    background-position: 8px -58px;
    color: #fafafa;
    cursor: auto;
}



/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ 상품 바로 선택 옵션 ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */