$assetHost: '';
$_landing-trigger-icon: $assetHost+"/components/layout/footer/v.1.1.0/_images/landing-trigger-icon.png";
$_corporation-award-icon: $assetHost+"/components/layout/footer/v.1.1.0/_images/corporation-award-icon.png";
$_corporation-service-SNS-icon: $assetHost+"/components/layout/footer/v.1.1.0/_images/corporation-service-SNS-icon.png";
$_corporation-familySite-icon: $assetHost+"/components/layout/footer/v.1.1.0/_images/corporation-familySite-icon.png";
$_service-CSCenter-tel-icon: $assetHost+"/components/layout/footer/v.1.1.0/_images/service-CSCenter-tel-icon.png";

.layout-structure-footer {
  border-top: 1px solid #e0e0e0;
  background-color: #f9f9fb;
}
/* 레이아웃 구조 footer 상단 ************************************ */
.layout-structure-footer-top {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
}

/* 서비스 렌딩 메뉴 */
.service-landing-components {
  width: 1048px;
  margin: 0 auto;
}
.service-landing-title {
  display: none;
}
.service-landing-trigger-ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.service-landing-trigger-li {
  width: 20%;
  float: left;
}
.service-landing-trigger-recruiter,
.service-landing-trigger-trust,
.service-landing-trigger-deliver,
.service-landing-trigger-refund,
.service-landing-trigger-offlinestore {
  display: block;
  padding-left: 50px;
  background-image: url($_landing-trigger-icon);
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  color: #555;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: keep-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}
.service-landing-trigger-recruiter span,
.service-landing-trigger-trust span,
.service-landing-trigger-deliver span,
.service-landing-trigger-refund span,
.service-landing-trigger-offlinestore span {
  color: #555;
  line-height: 20px;
}

.service-landing-trigger-recruiter {
  background-position: 0 0;
}
.service-landing-trigger-recruiter:hover {
  background-position: 0 -50px;
}
.service-landing-trigger-trust {
  background-position: 0 -100px;
}
.service-landing-trigger-trust:hover {
   background-position: 0 -150px;
 }
.service-landing-trigger-deliver {
  background-position: 0 -200px;
}
.service-landing-trigger-deliver:hover {
  background-position: 0 -250px;
}
.service-landing-trigger-refund {
  background-position: 0 -300px;
}
.service-landing-trigger-refund:hover {
  background-position: 0 -350px;
}
.service-landing-trigger-offlinestore {
  background-position: 0 -400px;
}
.service-landing-trigger-offlinestore:hover {
  background-position: 0 -450px;
}

/* 레이아웃 구조 footer 중간 ************************************ */
.layout-structure-footer-middle {
  width: 1048px;
  margin: 0 auto;
}
/* 서비스 메뉴 공통 ***************** */
.service-menus {
  overflow: hidden;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
  *zoom: 1;
}
.service-menus:after {
  display: table;
  content: '';
  line-height: 0;
}
.service-menus:after {
  clear: both;
}
.service-CSCenter-wrap,
.service-corporation-culture-wrap,
.service-customer-statement-wrap,
.service-corporation-partner-wrap {
  float: left;
}
.service-corporation-culture,
.service-customer-statement,
.service-corporation-partner {
  min-height: 100px;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #e0e0e0;
}
.service-corporation-culture-content,
.service-customer-statement-content,
.service-corporation-partner-content {
  margin: 0;
}
.service-CSCenter-wrap {
  width: 23%;
}
.service-corporation-culture-wrap {
  width: 27%;
}
.service-customer-statement-wrap {
  width: 20%;
}
.service-corporation-partner-wrap {
  width: 30%;
}

/* 고객만족센터 */
.service-CSCenter {
  margin: 0;
}
.service-CSCenter-tel {
  display: block;
  padding-left: 30px;
  margin-bottom: 30px;
  background-image: url($_service-CSCenter-tel-icon);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #ff5073;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.service-CSCenter-trigger {
  display: block;
  text-decoration: none;
  color: #555;
  font-size: 12px;
}
.service-CSCenter-info {
  font-size: 11px;
}
/* 기업 문화 */
.service-corporation-culture {
  margin: 0;
}
.service-corporation-culture-title {
  font-size: 14px;
  margin-bottom: 10px;
}
.service-corporation-culture-content {
  font-size: 12px;
}
.service-corporation-culture-trigger {
  display: block;
  margin-top: 3px;
  text-decoration: none;
  color: #555;
  font-size: 12px;
}
/* 고객의 소리 */
.service-customer-statement {
  margin: 0;
}
.service-customer-statement-title {
  font-size: 14px;
  margin-bottom: 10px;
}
.service-customer-statement-content {
  font-size: 12px;
}
.service-customer-statement-trigger {
  display: block;
  margin-top: 3px;
  text-decoration: none;
  color: #555;
  font-size: 12px;
}
/* 파트너 서비스 */
.service-corporation-partner {
  margin: 0;
}
.service-corporation-partner-title {
  font-size: 14px;
  margin-bottom: 10px;
}
.service-corporation-partner-content {
  font-size: 12px;
}
.service-corporation-partner-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.service-corporation-partner-li {
  position: relative;
}
.service-corporation-partner-entered,
.service-corporation-partner-whole-sale,
.service-corporation-partner-promotion,
.service-corporation-partner-franchise {
  display: block;
  margin-top: 3px;
  text-decoration: none;
  color: #555;
  font-size: 12px;
}
.service-corporation-partner-li:hover .service-corporation-partner-balloon {
  display: block;
}
.service-corporation-partner-balloon {
  display: none;
  position: absolute;
  bottom: -3px;
  left: 110px;
  margin: 0;
  padding: 4px;
  overflow: hidden;
  border: 1px solid #000;
  background-color: #fff;
}
.service-corporation-partner-balloon{
  width: 50%;
  margin: 0;
  overflow: hidden;
}
.service-corporation-partner-balloon dt {
  width: 30%;
  margin: 0;
  float: left;
}
.service-corporation-partner-balloon dd {
  width: 70%;
  margin: 0;
  float: left;
}
/* 회사 정보 ***************** */
.corporation-information {
  width: 1048px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0 20px 23%;
}
/* 회사명 */
.corporation-name {
  display: block;
  width: 100px;
  position: absolute;
  left: 0;
  top: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #afaeae;
}
/* 회사 정책 링크 */
.corporation-report {}
.corporation-report-policy {
  overflow: hidden;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
.corporation-aboutUs-wrap {
  float: left;
}
.corporation-report-policy-terms-use-wrap,
.corporation-report-policy-terms-privacy-wrap,
.corporation-report-policy-terms-youth-wrap,
.corporation-report-policy-terms-email-wrap,
.corporation-report-bizinfo-wrap {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #c0c0c0;
}

.corporation-aboutUs,
.corporation-report-policy-terms-use,
.corporation-report-policy-terms-privacy,
.corporation-report-policy-terms-youth,
.corporation-report-policy-terms-email,
.corporation-report-bizinfo {
  color: #555;
  text-decoration: none;
  font-size: 12px;
}

/* 회사 정보 공개 */
.corporation-report-info {}
.corporation-report-info-step {
  margin-top: 5px;
}
.corporation-report-info-step-dl {
  margin: 0;
  overflow: hidden;
  font-size: 11px;
  color: #a1a1a1;
}
.corporation-report-info-step-dl dt {
  float: left;
  border-left: 1px solid #c0c0c0;
  margin-left: 5px;
  padding-left: 5px;
  font-weight: bold;
}
.corporation-report-info-step-dl dt:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}
.corporation-report-info-step-dl dt:after {
  padding-left: 2px;
  content: ":";
}
.corporation-report-info-step-dl dd {
  float: left;
  padding-left: 2px;
  margin: 0;
}
.corporation-report-info-step-dl dd a{
  padding-left: 2px;
  text-decoration: none;
  color: #555;
}
.corporation-report-info-step-dl dd address{
  font-style: normal;
}
.corporation-report-info-step-dt-hide {
  display: none;
}

/* 레이아웃 구조 footer 아래줄 ************************************ */
.layout-structure-footer-bottom {
  background-color: #efefef;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
/* 미미박스 어필 메뉴 */
.corporation-appeal-menus {
  width: 1048px;
  margin: 0 auto;
  *zoom: 1;
  padding: 10px 0;
}
.corporation-appeal-menus:after {
  display: table;
  content: '';
  line-height: 0;
}
.corporation-appeal-menus:after {
  clear: both;
}
/* 수상 내역 */
.corporation-awards {
  float: left;
  width: 70%;
}
.corporation-awards-navigation {
  overflow: hidden;
  position: relative;
  padding: 0 20px;
}
.corporation-awards-ul {
  width: 2000px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.corporation-awards-ul .slick-arrow.slick-next,
.corporation-awards-ul .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  text-indent: -9999px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #ff0;
  //background-image: url($_deal_inline_gallery);
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
}
.corporation-awards-ul .slick-arrow.slick-prev {
  left: 0;
}
.corporation-awards-ul .slick-arrow.slick-next {
  right: 0;
}
.corporation-awards-ul .slick-prev.slick-disabled,
.corporation-awards-ul .slick-next.slick-disabled {
  background-color: #f00;
}

.corporation-award-li {
  margin: 5px 0;
  float: left;
}
.corporation-award-li p {
  display: block;
  padding: 7px 0 3px 50px;
  margin: 0 10px 0 10px;
  color: #555;
  line-height: 1.5;
  font-size: 11px;
  font-weight: bold;
  background-image: url($_corporation-award-icon);
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: keep-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.corporation-award-li .corporation-award-2016-01 {
  background-position: 0 -900px;
}
.corporation-award-li .corporation-award-2015-07 {
  background-position: 0 -800px;
}
.corporation-award-li .corporation-award-2015-06 {
  background-position: 0 -700px;
}
.corporation-award-li .corporation-award-2015-05 {
  background-position: 0 -600px;
}
.corporation-award-li .corporation-award-2015-04 {
  background-position: 0 -500px;
}
.corporation-award-li .corporation-award-2015-03 {
  word-break: normal;
  -webkit-line-clamp: 1;
  padding: 26px 0 4px 10px;
  background-position: 10px -410px;
}
.corporation-award-li .corporation-award-2015-02 {
  background-position: 0 -300px;
}
.corporation-award-li .corporation-award-2015-01 {
  background-position: 0 -200px;
}
.corporation-award-li .corporation-award-2013-01 {
  background-position: 0 -100px;
}
.corporation-award-li .corporation-award-2012-01 {
  background-position: 0 0;
}

/* 회사가 운영하는 자회사 */
.corporation-familySite {
  float: left;
  width: 20%;
  margin-top: 14px;
}
.corporation-familySite .select-design-viewer:hover .select-design-viewer-list {
  display: block;
}
.corporation-familySite .select-design-viewer-option-selector {
  border: 1px solid #ccc;
}
.corporation-familySite .select-design-viewer-option {
  padding: 0;
}
.corporation-familySite .select-design-viewer-list {
  top:inherit;
  bottom: 30px;
}
.corporation-familySite .select-design-viewer {
  line-height: 1.5;
  margin: 0 10px;
}
.corporation-familySite a {
  *zoom: 1;
  display: block;
  margin: 0 10px;
  font-size: 11px;
  text-decoration: none;
}

.corporation-familySite-corp {
  background-position: 0 0;
}
.corporation-familySite-immeme {
  //background-position: 0 -30px;
}
.corporation-familySite-ponyEffect {
  //background-position: 0 -60px;
}
.corporation-familySite-usa {
  //background-position: 0 -90px;
}
.corporation-familySite-china {
  //background-position: 0 -120px;
}

.corporation-familySite-corp:before,
.corporation-familySite-immeme:before,
.corporation-familySite-ponyEffect:before,
.corporation-familySite-usa:before,
.corporation-familySite-china:before {
  content: '.';
  text-indent: -99999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url($_corporation-familySite-icon);
  background-repeat: no-repeat;
}
.corporation-familySite-immeme:before {
  background-position: 0 -30px;
}
.corporation-familySite-ponyEffect:before {
  background-position: 0 -60px;
}
.corporation-familySite-usa:before {
  background-position: 0 -90px;
}
.corporation-familySite-china:before {
  background-position: 0 -120px;
}

/* 회사가 운영하는 SNS */
.corporation-service-SNS {
  float: left;
  width: 10%;
  overflow: hidden;
  margin-top: 14px;
}
.corporation-service-SNS-insta,
.corporation-service-SNS-faceBook,
.corporation-service-SNS-youtube {
  float: left;
  display: block;
  text-indent: -99999px;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  background-image: url($_corporation-service-SNS-icon);
  background-repeat: no-repeat;
}
.corporation-service-SNS-insta {
  background-position: 0 0;
}
.corporation-service-SNS-faceBook {
  background-position: 0 -40px;
}
.corporation-service-SNS-youtube {
  background-position: 0 -80px;
}
