<div class="layout-structure-footer">
    <!-- layout-structure-footer-top ------------------------------- -->
    <div class="layout-structure-footer-top">
        <!-- 랜딩 메뉴 -->
        {{> components/layout/footer/v.1.1.0/_templates/_serviceLandingComponents}}
    </div>
    <!-- layout-structure-footer-middle ------------------------------- -->
    <div class="layout-structure-footer-middle">
        <!-- 서비스 메뉴 -->
        {{> components/layout/footer/v.1.1.0/_templates/_serviceMenus}}
        <!-- 회사 정보 -->
        {{> components/layout/footer/v.1.1.0/_templates/_corporationInfomation}}
    </div>
    <!-- layout-structure-footer-bottom ------------------------------- -->
    <div class="layout-structure-footer-bottom">
        <div class="corporation-appeal-menus">
            <!-- 수상 내역 -->
            {{> components/layout/footer/v.1.1.0/_templates/_corporationAwards}}
            <!-- 회사가 운영하는 자회사 -->
            <div class="corporation-familySite">
                {{!> components/layout/footer/v.1.1.0/_templates/_corporationFamilySite}}
            </div>
            <!-- 회사가 운영하는 SNS -->
            {{> components/layout/footer/v.1.1.0/_templates/_corporationServiceSNS}}
        </div>
    </div>
</div>