{{#extend "memebox-header"}}
    {{> components/layout/header/v.1.1.0/_templates/header}}

{{/extend}}

{{#extend "memebox-content"}}
    <div class="wrap">
        <p class="text">main page</p>
    </div>
    <br>
{{/extend}}

{{#extend "memebox-footer"}}
    {{> components/layout/footer/v.1.1.0/_templates/footer}}
{{/extend}}

{{> pc/layout/layout}}