{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    <div class="wrap">
        <p class="text">main page</p>
    </div>
    <br>
{{/extend}}

{{#extend "scripts"}}
    <script>
        document.write('script test');
    </script>
{{/extend}}

{{> layout_pc}}