<table>
    <tr>
        <td>
            미미박스를 사랑해주시는 고객님께 감사드립니다 . 항상 더 나은 서비스를 제공하기 위해 노력하겠습니다 .
            궁금하신 사항은 고객센터 를 통해 문의하시기 바랍니다. 고객센터 : 1644-0439
            <a href="/cs/faq">고객센터 바로가기      ></a>
        </td>
    </tr>
    <tr>
        <td>
            <dl class="corporation-report-info-step-dl">
                <dt>상호</dt>
                <dd>(주)미미박스</dd>
                <dt>대표자</dt>
                <dd>하형석</dd>
                <dt>개인 정보 보호 책임자</dt>
                <dd>김종광</dd>
                <dt>사업자등록번호</dt>
                <dd>211-88-47525</dd>
            </dl>
        </td>
    </tr>
    <tr>
        <td>
            <dl class="corporation-report-info-step-dl">
                <dt>통신판매 신고번호</dt>
                <dd>제 2016-경기성남-0633호</dd>
                <dt>건강기능식품판매</dt>
                <dd>제 2012-0107922 호</dd>
                <dt>의료기기판매</dt>
                <dd>제 2015-3780064-00183 호</dd>
            </dl>
        </td>
    </tr>
    <tr>
        <td>
            <dl class="corporation-report-info-step-dl">
                <dt>본사</dt>
                <dd>
                    <address>경기도 성남시 분당구 판교역로146번길 20 (백현동) Office H 10층</address>
                </dd>
                <dt>물류센터</dt>
                <dd>
                    <address>인천광역시 서구 경서동 693-4번지</address>
                </dd>
            </dl>
        </td>
    </tr>
</table>