/* 공통 */
.dealview {
    display:block;
}
.dealview-selecter {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom:1px solid #ccc;
}
.dealview-selecter > li {
    float: left;
}
.dealview-selecter-link {
    display:block;
    padding: 10px 20px;
    margin-right:5px;
    margin-bottom: -1px;
    border:1px solid #ccc;
    background-color: #e3e3e3;
    text-decoration: none;
    color:#999;
}
.dealview-selecter-link.selected {
    border-bottom:1px solid #fff;
    background-color: #fff;
    color: #333;
}
.dealview-content {
    margin-top: 10px;
}
.dealview-content .dealview-title {
    display: none;
}

/* gellery view */
.dealview-gellery {
    width:100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.dealview-gellery .dealview-li {
    float:left;
    overflow: hidden;
    width:150px;
    height: 150px;
}

/* list view */
.dealview-list {
    margin: 0;
    padding: 0;
}
.dealview-list .dealview-li {
    width:100%;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 10px;
}

/* clearfix 추가 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}