{{#extend "memebox-header"}}
    {{> components/menu/v.1.0.0/_templates/_menu}}
{{/extend}}

{{#extend "memebox-content"}}
    <h1>검색결과</h1>

    <!-- 검색결과 상품 -->

    <div class="deal-container"
         data-deal-function='{}'>
    </div>

    <div class="deal-container"
         data-deal-function='{}'>
    </div>
{{/extend}}

{{> layout_mobile}}