<div class="signUp-SNS-wrap">
    <div class="signUp-SNS-confirmation">
        <span class="signUp-SNS-icon-facebook">facebook</span>
        <span class="signUp-SNS-name">송유정</span>님,
        <span class="signUp-SNS-facebook">facebook</span>
        계정으로 회원가입을 시작합니다.
    </div>
    <div class="signUp-SNS-information-wrap">
        <a class="signUp-SNS-contactUs" href="">본인의 계정이 아닌가요</a>

        <div class="module-tooltip-hover">
            <span class="module-tooltip-hover-trigger">i</span>

            <p class="module-tooltip-hover-content-wrap">
                <span class="module-tooltip-hover-arrow"></span>
                여러명이 사용하는 공용컴퓨터는 다른 사람이 로그인 한 후 로그아웃하지 않아 다른 계정이 보일 수 있습니다.
                해당 연동 사이트로 이동하여 로그아웃 후 본인 계정으로 로그인 해주세요.
            </p>
        </div>
    </div>
</div>